<div>
	<input type="text" ng-model="filterText"/>
	<table>
		<thead>
			<th ng-repeat="field in fields"
				ng-click="$parent.sortByField=field.key; $parent.reverse=!$parent.reverse" 
				ng-class="{sort: sortByField == field.key, reverse: reverse}">
				#/field.label/#
			</th>
		</thead>
		<tbody>
			<tr ng-repeat="item in list.data | filter:filterText | orderBy:sortByField:reverse"
				ng-click="selectItem(item, $event)"
				ng-right-click="contextmenu(item, $event)"
				ng-class="{'selected': isSelected(item.nodeid)}">
				<td ng-repeat="field in fields" ng-switch="field.type">
					<span class="row-cell-#/field.type/#" ng-switch-when="date">#/item[field.key]*1000 | date:'dd-MM-yyyy HH:mm'/#</span>
					<span class="row-cell-#/field.type/#" ng-switch-when="action-icon" ng-click="contextmenu(item, $event, true)">#/item[field.key]/#</span>
					<span class="row-cell-#/field.type/#" ng-switch-default>#/item[field.key]/#</span>
				</td>
			</tr>
		</tbody>
		
	</table>
	
	<style>

	</style>
</div>