<div>
	<input type="text" ng-model="filterText"/>
	<table>
		<thead>
			<th ng-repeat="field in fields"
				ng-click="$parent.sortByField=field.key; $parent.reverse=!$parent.reverse" 
				ng-class="{sort: sortByField == field.key, reverse: reverse}">
				#/field.label/#
			</th>
		</thead>
		<tbody>
			<tr ng-repeat="item in list.data | filter:filterText | orderBy:sortByField:reverse">
				<td ng-repeat="field in fields">#/item[field.key]/#</td>
				ng-right-click="contextmenu(item, $event)"
			</tr>
		</tbody>
		
	</table>
</div>