<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform" version="1.0">
	<xsl:include href="http://localhost/ximdex/data/nodes/##PROJECT_NAME##/templates/templates_include.xsl"/>
	<xsl:template name="docxap" match="docxap">
		<!-- XML Document -->
	</xsl:template>
</xsl:stylesheet>