/**
 *  \details &copy; 2011  Open Ximdex Evolution SL [http://www.ximdex.org]
 *
 *  Ximdex a Semantic Content Management System (CMS)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published
 *  by the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  See the Affero GNU General Public License for more details.
 *  You should have received a copy of the Affero GNU General Public License
 *  version 3 along with Ximdex (see LICENSE file).
 *
 *  If not, visit http://gnu.org/licenses/agpl-3.0.html.
 *
 *  @author Ximdex DevTeam <dev@ximdex.com>
 *  @version $Revision$
 */


  @import "../../../../xmd/style/jquery/ximdex_theme/widgets/themes/ximdex_theme";

  .uploader{
  	fieldset, .xim-uploader-container{
  		height: 100%;
  	}
  }

.xml-uploader{
	.xim-uploader-container{
		height: calc(100% - 8em);
	}
}
  .xml-properties{
  	margin-bottom: 1em;

  		>:first-child{
  			border-right: 5px solid $c_background;
  		}
  	.col1-2{
  			width: 49.7%;
  			margin-bottom: .5em;
  	}
  	select{
  		background: #fff;
  		border: 1px solid lighten($c_greymain, 18%);
  		width: 100%;
		padding: .5em;
		&:hover{
			cursor: pointer;
		}
  	}
  }

