/**
 *  \details &copy; 2011  Open Ximdex Evolution SL [http://www.ximdex.org]
 *
 *  Ximdex a Semantic Content Management System (CMS)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published
 *  by the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  See the Affero GNU General Public License for more details.
 *  You should have received a copy of the Affero GNU General Public License
 *  version 3 along with Ximdex (see LICENSE file).
 *
 *  If not, visit http://gnu.org/licenses/agpl-3.0.html.
 *
 *  @author Ximdex DevTeam <dev@ximdex.com>
 *  @version $Revision$
 */
  @import "../../../../xmd/style/jquery/ximdex_theme/widgets/themes/ximdex_theme";
  @import "../../../../xmd/style/jquery/ximdex_theme/widgets/themes/icons";
  @import "../../../../xmd/style/jquery/ximdex_theme/widgets/themes/extends";



// .xim-loader-list-container{
// 	min-height: 250px;
// 	max-height: 91%;
// 	-webkit-border-radius: 2px;
// 	-moz-border-radius: 2px;
// 	border-radius: 2px;
// 	border: 1px dashed #C8C8C8;
// 	border-bottom: none;
// 	background: #fff;
// 	position: relative;
// 	overflow: auto;
// }


.guide{
	width: 50%;
	margin: 3em auto 0;
	text-align: center;
	span{
		display: inline-block;
		width: 3em;
		height: 3em;
		background: lighten($c_greymain, 18%);
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		margin: 1em 1.5em;
		text-indent: 100%;
		overflow: hidden;
		position: relative;
		&::before{
			position: absolute;
			text-indent: 0;
			top: 0;
			left: .7em;
			line-height: 2.5em;
			font-size: 2rem;
			color: darken($c_greymain, 12%);;
		}
		&::after{
			content: "";
			border: 3em solid transparent;
			border-top-color: rgba(255,255,255,.2);
			border-bottom-color:rgba(255,255,255,.2);
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
		}

		&.document::before{
			font-size: 3.1rem;
			left: .28em;
			line-height: 1.7em;
		}

	}
	p{
		font-family: $t_title;
		font-size: .9em;
		color: #888;
		line-height: 1.4em;
		border-top: 1px solid #dedede;
		padding-top: 1em;
	}
}

.xim-loader-list{
	margin: 0 !important;
}

.xim-loader-file{
	padding: 1em 8em 1em 1.2em;
	border-bottom: 1px solid lighten($c_greymain, 20%);
	position: relative;
	z-index: 1;

	// &:hover{
	// 	background: lighten($c_mainlight, 20%);
	// }

	&:last-child{
		border-bottom: none;
	}
	.row-item-column{
		display: inline-block;
		position: relative;
		z-index: 3;
	}

	.xim-loader-name{
		width: 45%;
		padding: 0;
		cursor: pointer;
		word-wrap: break-word;

		.img-preview {
			margin-right: .5em;
		}

		input {
			border: 1px dashed $c_grey-pp;
			background: none;
			width: 98%;
			color: inherit;
			&:hover {
				border-style: solid;
			}
		}

	}
	.xim-loader-size{
		width: 14%;
	}
	select{
		background: none;
		padding: 0;
		border: none;
		cursor: pointer;
	}

	input[type=checkbox]{
		margin-right: .8em;
		vertical-align: middle;
	}
	&.xim-loader-file-success {

		input[type="text"]{
			border: none;
		}

		&::before{
			position: absolute;
			@extend %icon;
			@extend %tic::before;
			right: 1.5em;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			background: $c_tag_dorganization;
			color: #fff;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			font-size: 1.2em;
			width: #{(28/19)}em;
			height: #{(28/19)}em;
			text-align: center;
			line-height: #{(28/19)};
		}

		.input{
			border: none;
		}
	}
	&.xim-loader-file-warning{
		border: 1px solid rgb(230, 213, 23);
	}
	&.xim-loader-file-error{
		input[type="text"]{
			border: 1px solid $c_warning;
			-webkit-transition: all .2s;
			-moz-transition: all .2s;
			-ms-transition: all .2s;
			-o-transition: all .2s;
			transition: all .2s;
			background:#fff;
			

			&:hover{
				-webkit-transform: scale(1.02);
				-moz-transform: scale(1.02);
				-ms-transform: scale(1.02);
				-o-transform: scale(1.02);
				transform: scale(1.02);
			}

			&:focus{
				-webkit-box-shadow: 0 0 3px darken($c_warning, 20%);
				-moz-box-shadow: 0 0 3px darken($c_warning, 20%);
				box-shadow: 0 0 3px darken($c_warning, 20%);
			}
		}

		.xim-loader-size{
			opacity: 0;
		}
		

		
	}
	button{
		float: right;
		margin: -4px 0 0 0;
	}
	.xim-loader-progress {
		position: absolute;
		top: 0;
		height: .2em;
		left: 0;
		background-color: $c_mainlight;
		z-index: 2;
		text-indent: -99999px;
		-webkit-border-radius: 3px 3px 0 0;
		-moz-border-radius: 3px 3px 0 0;
		border-radius: 3px 3px 0 0;
	}
}
.xim-loader-error {
	color: rgb(185, 89, 60);	
}
.xim-loader-warning {
	color: rgb(230, 213, 23);
	width: 27%;
	white-space: nowrap;
	/* overflow: hidden; */
	text-overflow: ellipsis;
	vertical-align: baseline;	
}

.img-preview{
	max-width: 29%;
	vertical-align: middle;
	max-height: 31px;
	margin-right: .6em;
}
.xim-loader-file-image {
	.xim-loader-name {
		z-index: 4;
		width: 35%;
	}
}

// .progress{
// 	&.upload{
// 		position: relative;
// 		padding-left: .5em;
// 		&::before{
// 		@include loading-loader;
// 			border-width: .5em;
// 			top: 0;
// 			left: 0;
// 			margin-left: -1.5em;
// 			margin-top: 0;
// 		}
// 	}
// 	&.complete{
// 		&::before{
// 			content: "\0079";
// 			border: none;
// 			width: 1em;
// 			height: 1.1em;
// 			background: #2fb7a4;
// 			-webkit-animation: none;
// 		    -moz-animation: none;
// 		    -ms-animation: none;
// 		    -o-animation: none;
// 		    animation: none;
// 		    color: #fff;
// 		    font-size: .9em;
// 		    line-height: 1.2em;
// 		    padding-left: .1em;
// 		}
// 	}
// }

.xim-loader-list-actions{
	padding: .5em;
	margin: 0 !important;
	width: 100%;
	text-align: center;
	min-height: 2.9em;
	.xim-uploader-selected, .xim-uploader-delete{
		background: darken($c_greymain, 15%);
		color: #fff;
		display: inline-block;
		font-family: $t_text;
		text-shadow: none;
		font-size: 1.3rem;
		padding: .5em 2em .7em 3em;
		&.xim-uploader-selected:hover{
			background: darken($c_mainlight, 15%);
		}&.xim-uploader-delete:hover{
			background:$c_warning;
		}
		&::before{
			font-size: 1.6rem;
			position: absolute;
			line-height: 1.05;
			margin-left: -1.5em;
		}
	}
	.xim-uploader-delete{
		display: none;
	}




}

.xim-uploader-selected{
	@extend %add;
	position: relative;
}

.align-left{
	text-align: left;
}

input.xim-uploader {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	cursor: pointer;

}
#numfiles{
	position: absolute;
	right: 1em;
	display: block;
	bottom: 0.9em;
}

.files{
	background: lighten($c_mainlight, 15%);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: .1em .3em;
	margin-left: .5em;
}

.xim-uploader-container.drag-in {
	opacity: 0.2;
	border: 4px dashed rgb(126, 124, 124);
	position: relative;
	transition: all 1s;
	&:after {
		position: absolute;
		top: 50%;
		left: 50%;
		right: 0;
		content: "+";
		display: block;
		font-size: 200px;
		color: rgb(126, 124, 124);
	}
}

@include loading-animation;


/*  BUTTONS */
.uploader{
	.delete-btn{
		background: lighten($c_delete, 10%) !important;
	}

	.rename-btn, .overwrite-btn{
		background: none;
		border: none;
		color: $c-mainlight;
		text-decoration: underline;
	}

	.retry-btn{
		background:$c_bluelight;
		@extend %reload;

		&::before{
			font-size: 1.5em;
			width: 1.2em;
			line-height: 1.25;
		}

		&:hover{
			background:darken($c_bluelight, 5%);
		}
	}

	.pause-btn{
		background:$c_tag_dperson;
		@extend %pause;
		
		&:hover{
			background:darken($c_tag_dperson, 10%);
		}

	}

	.resume-btn{
		background:$c_tag_dplace;
		
		&::before{
			@extend %play;
			padding-left: .22em;
			font-size: 1.4rem;
			padding-top: 1.8em;
		}

		&:hover{
			background:darken($c_tag_dplace, 10%);
		}

		}


	// Overwrite

	.overwrite-warning{
		
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -.3em;
			button{
			color: $c-grey-ll;
			text-decoration: none;
			cursor: pointer;
			padding: .4em .8em;
			
			float: none;
			position: absolute;
			white-space: nowrap;
			}

			.rename-btn{
				@extend %hide-text;
				width: 2em;
				padding: 0;
				right: 0;
				
				&:hover::before{
					color: lighten($c_warning, 10%);
				}

				&::before{
					@extend %icon;
					@extend %pencil;
					position: absolute;
					right: 1em;
					top: 50%;
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%); 
					-ms-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					transform: translateY(-50%);
					color: $c_warning;
					-webkit-animation: edit .8s 2 ease-out; /* Safari 4+ */
					-moz-animation:    edit .8s 2 ease-out; /* Fx 5+ */
					-o-animation:      edit .8s 2 ease-out; /* Opera 12+ */
					animation:         edit .8s 2 ease-out;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border-radius: 50%;

				}

				
			}

			.overwrite-btn{
				background:lighten($c_warning, 20%);
				color: #fff;
				top: -.65em;
				z-index: -1;
				font-size: 1.5rem;
				-webkit-border-radius:0 2px 2px 0;
				-moz-border-radius:0 2px 2px 0;
				border-radius:0 2px 2px 0;
				z-index: -1;
				height: 3.7rem;
				left: -.4em;

				&:hover{
					background:lighten($c_warning, 10%);
				}
			}
	}
		/*margin: 0 5%;
		top: 2.5em;
		position: absolute;
		text-align: center;
		z-index: -1;

		
		button{
			color: #fff;
			text-decoration: none;
			cursor: pointer;
			padding: .4em .8em;
			background: lighten($c_warning, 15%);
			-webkit-border-radius: 0 0 2px 0;
			-moz-border-radius: 0 0 2px 0;
			border-radius: 0 0 2px 0;
			float: none;
			width: 50%;


			&:first-child{
				-webkit-border-radius: 0 0 0 2px;
				-moz-border-radius: 0 0 0 2px;
				border-radius: 0 0 0 2px;
				border-right: 1px solid #fff;
			}

			&:hover{
			background: $c_warning;
			}
		}
	} */
	
}

@-webkit-keyframes edit {
	0%{color: #fff} 
	50%{color: darken($c_warning, 15%);}
	100% {color: #fff; } }

	@-moz-keyframes edit {
	0%{color: #fff} 
	50%{color: darken($c_warning, 15%);}
	100% {color: #fff; }  }

	@-o-keyframes edit {
	0%{color: #fff} 
	50%{color: darken($c_warning, 15%);}
	100% {color: #fff; }  }

	@keyframes edit {
	0%{color: #fff} 
	50%{color: darken($c_warning, 15%);}
	100% {color: #fff; }  }