/**
 *  \details &copy; 2011  Open Ximdex Evolution SL [http://www.ximdex.org]
 *
 *  Ximdex a Semantic Content Management System (CMS)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published
 *  by the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  See the Affero GNU General Public License for more details.
 *  You should have received a copy of the Affero GNU General Public License
 *  version 3 along with Ximdex (see LICENSE file).
 *
 *  If not, visit http://gnu.org/licenses/agpl-3.0.html.
 *
 *  @author Ximdex DevTeam <dev@ximdex.com>
 *  @version $Revision$
 */

  @import "../../../../xmd/style/jquery/ximdex_theme/widgets/themes/ximdex_theme";
  @import "../../../../xmd/style/jquery/ximdex_theme/widgets/themes/extends";
  @import "../../../../xmd/style/jquery/ximdex_theme/widgets/themes/icons";

  .loading_background{
    background: #ececec url(../../../xmleditor2/gfx/loading_page/bg-loading.png) repeat;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
  }

  .loading_image{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 238px;
    height: 169px;
    margin-left: -119px;
    margin-top: -84px;
  }
  
  .search-query-info{
    float: right;
    margin-top: .8em;
    margin-right: .2em;
  }

.simple-results{
  width: 100%;

  th{
    background:$c-mainlight;
    color: #fff;
    font-weight: bold;
    padding: .8em;
    text-align: left;
    cursor: pointer;

  }

 

  td{
    span{
      padding: .8em;
      -ms-word-break: break-word;
      word-break: break-word;
      display: block;
    }
    
  }
.sort{
  &::after{
    content:'\e619' ;
    @extend %icon-a;
    -webkit-transition: all  .3s ease-out;
    -moz-transition: all  .3s ease-out;
    -ms-transition: all  .3s ease-out;
    -o-transition: all  .3s ease-out;
    transition: all  .3s ease-out;
    display: inline-block;
    margin-top: -.2em;
  }
}

.sort.reverse{
  &::after{
  /* content:'\e61a' ;*/
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
      -webkit-transition: all  .3s ease-out;
    -moz-transition: all  .3s ease-out;
    -ms-transition: all  .3s ease-out;
    -o-transition: all  .3s ease-out;
    transition: all  .3s ease-out;
  }
}


  .row-cell-nodeid, .row-cell-nodetype{
    white-space: nowrap;
  }

  .row-cell-action-icon{
    @extend %hide-text;
    width: 1.2em;
    background-image:url(../../../../xmd/images/tree/treeview-icons.png);
    background-repeat: no-repeat;
    padding: 0;
    margin: 0 .2em 0 1.5em;

  }

  .row-cell-date{
    white-space: nowrap;
  }

}

.filter{
  float: right;
  input{
    border: none;
    border-bottom: 1px solid $c_grey-ppp;
    padding: 0;
   /* border: 1px solid #eaf1f4;
    background:#dde2e4;
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.2);
    box-shadow: inset 0 1px 0 rgba(0,0,0,.2);
    padding: .3em .5em;
    margin-left: 1em;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    width: 20%;

    &:focus{
      background:#fff;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      width: 30%;
    }*/
  }
}

// Field selector

.results-container{

  position: relative;
}

.fields-selector-launcher{
  @extend %hide-text;
    position: absolute;
    width: 3.3em;
    overflow: hidden;
    display: block;
    cursor: pointer;
    height: 2.8em;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  
   

     &::before{
        @extend %field-selector;
        color: #fff;
         width: 100%;
         text-align: center;
         display: block;
         font-size: 1.3em;
         line-height: 2.3;
          position: absolute;
          text-indent: 0;
          background:transparent;
          -webkit-transition: all .2s;
          -moz-transition: all .2s;
          -ms-transition: all .2s;
          -o-transition: all .2s;
          transition: all .2s;
    }

    &.opened{
        background: $c_dark-grey;
    }

   
}


.results-number{
  font-family: $t-text;

  &::before{
    content: '[';
  }
  &::after{
    content: ']';
  }
}
  

.fields-selector-options{
 // width: calc(100% - 3.5em);
  //margin: 3em 0 0 0;
  //position: absolute;
 // height: 2.8em;
 
  background: $c_dark-grey;
 /*  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  opacity:1;*/
  overflow: hidden;
  //z-index: 5;
  padding: 1em 3em 1em 6em;


  li{
   display: inline-block;
   width: 24%;
    line-height: 2.5;
    min-width: 150px;
  }
  label{
    color: #fff;
  }
}

.no-results{
  text-align: center;
}

.paginator{
  margin-left: 1.5em;
}

.prev, .next{
  cursor: pointer;
}