## Files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
.sass-cache
.idea
node_modules
data/
logs/
install/install.log
conf/install-params.conf.php
conf/install-modules.conf
conf/_STATUSFILE
conf/install-params.conf_bk_*.php
conf/install-params.conf.phpbck_*.php
modules/dexT/xslt/dext_main.xsl
modules/modules_PRO/
inc/model/orm/*.bck*
modules/xlyre
koala-config.json
install/1-MoveXimdexToDocRoot.sh
install/_STATUSFILE
nbproject/**