## Files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
data/
logs/
install/install.log
conf/install-modules.conf
conf/install-params.conf.php
modules/dexT/xslt/dext_main.xsl
inc/model/orm/Servers_ORM.class.php.bck0
