Options -Indexes

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} api-rest/login
RewriteRule (.*) api/index.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} api-rest/(.*)
RewriteRule (.*) api-rest/index.php

RewriteCond %{REQUEST_FILENAME} api/(.*)
RewriteRule (.*) api/index.php

RewriteCond %{REQUEST_FILENAME} wservices/(.*)
RewriteRule (.*) wservices/index.php


RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule (.*) index.php
