/**
 *  \details &copy; 2011  Open Ximdex Evolution SL [http://www.ximdex.org]
 *
 *  Ximdex a Semantic Content Management System (CMS)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published
 *  by the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  See the Affero GNU General Public License for more details.
 *  You should have received a copy of the Affero GNU General Public License
 *  version 3 along with Ximdex (see LICENSE file).
 *
 *  If not, visit http://gnu.org/licenses/agpl-3.0.html.
 *
 *  @author Ximdex DevTeam <dev@ximdex.com>
 *  @version $Revision$
 */
.copy_options {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: .5em 0;
  padding: 1rem 2%;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

.copy_options div label::before {
  content: "\e023"; }

.copy_options input[type="radio"]:checked + label::after {
  content: "\79"; }

/*.xim-treeview-selector {
	background: $c_white;
	padding: 25px 15px;
	margin-bottom: 15px;
}
.xim-treeview-selector .xim-treeview-branch-container {
	position: static;
}

.root {
	display: none;
}
*/
.copy_options {
  padding: 0; }
  .copy_options div {
    border-top: 1px solid #dddddd;
    position: relative; }
    .copy_options div:first-child {
      border-top: none; }
      .copy_options div:first-child label {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px; }
    .copy_options div label {
      padding: 1.2em;
      display: block;
      cursor: pointer; }
      .copy_options div label:hover {
        background: #d5dbde; }
      .copy_options div label::before {
        padding-right: .5em;
        color: #888888; }
  .copy_options input[type="radio"] {
    position: absolute;
    opacity: 0; }
    .copy_options input[type="radio"]:checked + label {
      background: #b2e0d9;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
      			/*color: #fff;
      
      			&::before{
      				color: #fff;
      			}
      */ }
      .copy_options input[type="radio"]:checked + label::after {
        position: absolute;
        right: 1em;
        color: #7bcabf;
        background: #fff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 1.3em;
        height: 1.3em;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        text-align: center;
        line-height: 1.3;
        font-size: 1.5em; }
