/**
 *  \details &copy; 2011  Open Ximdex Evolution SL [http://www.ximdex.org]
 *
 *  Ximdex a Semantic Content Management System (CMS)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published
 *  by the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  See the Affero GNU General Public License for more details.
 *  You should have received a copy of the Affero GNU General Public License
 *  version 3 along with Ximdex (see LICENSE file).
 *
 *  If not, visit http://gnu.org/licenses/agpl-3.0.html.
 *
 *  @author Ximdex DevTeam <dev@ximdex.com>
 *  @version $Revision$
 */

body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
}

div#header {
	top: 0px;
	position: relative;
	overflow: hidden;
	float: left;
	clear: both;
	height: 62px;
	width: 100%;
	font: bold 9px tahoma;
}

div#header input {
	border: 1px solid buttonshadow;
}

div#body {
	width: 100%;
	margin-bottom: 22px;
	margin-top: 62px;

	/*
	float: left;
	top: 20px;
		position: fixed;
	clear: both;
	bottom: 0px;
	margin-top: 62px;
			*/
}

div#footer {
	position: fixed;
	overflow: hidden;
	bottom: 0px;
	height: 22px;
	width: 100%;
}

div#menu {
	position: relative;
	overflow: hidden;

	float: left;
	clear: both;

}

div#actions {
	position: relative;
	overflow: hidden;
	float: left;
	clear: none;
	width: 100%;
}

div#action_info {
	white-space: nowrap;
}

div#action_buttons {
	background-image: url('../../xmd/images/logo_ximdex.gif');
	height: 32px;
	padding-left: 170px;
	background-repeat: no-repeat;
}

#node_path {
	position: relative;
	width: 50%;
}

div#action_buttons div {
	float: left;
}

div#tree {
	position: fixed;
	overflow: hidden;
	float: left;
	clear: left;
	width: 25%;
	bottom: 22px;
	top: 88px;
}

div#tabs {
	position: fixed;
	overflow: hidden;
	margin-left: 25%;
	margin-bottom: 22px;
	width: 73.9%;
	bottom: 1px;
	top: 88px;
}

div#tab_selector {
/*	width: 99%;*/
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	height: 20px;
	font: bold 12px verdana;
}

div#tab_selector, a.anchor_close {
	margin-right: 5px;
}

div#tabs_container {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: auto;

}

div#tab_selector div {
/*	width: 90px;*/
	display: inline;
	padding: 5px;
	margin-right: 3px;
	position: relative;

}

#tab_scroller {
	overflow: hidden;
	height: 15px;
}

#tabs .tab_close_button {
/*	margin-left: 4px;*/
	padding-left: 4px;
	padding-top: 2px;
	border-style: none;
}

div#tabs .ui-tabs-panel {
	overflow-y: scroll;
	position: absolute;
	top: 50px;
	bottom: 1px;
	width: 94%;
}

div#tabs .ui-corner-top {
	width: 100%;
}

div.message_notice {
	background-image: url('../../xmd/images/viewers/dialogs/success_header.gif');
	background-repeat: repeat-x;
	padding-top: 3px;
	list-style-type: none;
	margin-left: -10px;
	padding-left: 8px;
}

div.message_warning {
	background-image: url('../../xmd/images/viewers/dialogs/warning_header.gif');
	background-repeat: repeat;
	padding-top: 3px;
	list-style-type: none;
	margin-left: -10px;
	padding-left: 8px;
}

div.message_error {
	background-image: url('../../xmd/images/viewers/dialogs/error_header.gif');
	background-repeat: repeat;
	padding-top: 3px;
	font: bold 15px verdana;
	list-style-type: none;
	margin-left: -10px;
	padding-left: 8px;
}

.separator_from_top {
	padding-top: 15px;
}

#listview {
	width: 800px;
	height: 500px;
}


/********* imported from old ximdex *********/


input.button {
	border : 1px solid Gray;
	background : #E3E3E3;
	cursor : pointer;
}

a {
text-decoration: none;
}


select {
	border : 1px solid Gray;
	background : #F3F3F3;
	font-size : xx-small;
	font-weight : bold;
}


textarea {
    border : 1px solid Black;
    background : #eeeeee;
    background-color : #eeeeee;
    font-family : "Courier New", Courier, monospace;
}

td {
	font-size: 10px;
	font-family: verdana
	}

.css_to_include, .js_to_include {
	display: none;
}

/*** content.css ***/

h1 {
	color: #b8429b;
	font-size: 12px;
	margin: 10px 10px 3px 5px;
}

h2 {
	background-color: #eeeeee;
	font-size: 10px;
	font-weight: normal;
	padding: 3px 3px 3px 6px;
}

h3 {
	background-color: #eeeeee;
	font-size: 9px;
	font-weight: normal;
	padding: 3px 3px 3px 6px;
}

h2.action_desc{
	margin-top: 5px;
	border-top: 1px solid #000000;
}

h2.nodo_path{
	margin-bottom: 5px;
	border-bottom: 1px solid #000000;
}

.button {
	padding: 2px;
}

/** ximdex.css **/

div.action_container {
	margin: 20px 20px 0px 20px;
	border: 1px solid black;
	padding: 0px 0px 20px 0px;
	z-index: -1;
}

div.container {
	width: auto;
	height: auto;
}

div.action_container_header {
	position: relative;
	height: 25px;
	background-color: #CCCCCC;
	width: 100%;
	top: 0px;
/*	border: 1px solid transparent;*/

	margin-bottom: 20px;
	padding-right: -8px;
	text-align: right;
	white-space: nowrap;
}

div.action_container_header a {
	margin-right: 15px;
	position: relative;
	float: right;
	margin-right: 0.3em;
	margin-top: 2px;
	white-space: nowrap;
}
div.action_container_header a .text {
}

.messages div {
clear: both;
}

.editor_textarea {
	position: relative;
	width: 100%;
	height: 100%;
}

#dialog {
	z-index: 999;
}

.multipleUpload {
	z-index: 1;
}

.error {
	border: 1px solid red !important;
}
