/**
 *  \details &copy; 2011  Open Ximdex Evolution SL [http://www.ximdex.org]
 *
 *  Ximdex a Semantic Content Management System (CMS)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published
 *  by the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  See the Affero GNU General Public License for more details.
 *  You should have received a copy of the Affero GNU General Public License
 *  version 3 along with Ximdex (see LICENSE file).
 *
 *  If not, visit http://gnu.org/licenses/agpl-3.0.html.
 *
 *  @author Ximdex DevTeam <dev@ximdex.com>
 *  @version $Revision$
 */


a{
	text-decoration: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
}
.normal{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color: #3D3D3D;
}
.normalgris{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color: #818181;

}
.normalnegrita{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color: #3D3D3D;
	font-weight: bold;
}
.normalnegritaw{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color: #FFFFFF;
	font-weight: bold;
}
.normalnegritag{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 11px;
	color: #3D3D3D;
	font-weight: bold;
}
.tituloseccion{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 10pt;
	color: #B8429B;
	font-weight: bold;
}
.cajaxp{
	border: thin;
	border-style: solid;
	border-width: 1px;
	border-color: #3E3E3E;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color: #3D3D3D;
	width: 30px;
}
.cajap{
	border: thin;
	border-style: solid;
	border-width: 1px;
	border-color: #3E3E3E;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color: #3D3D3D;
	width: 70px;
}
.cajax{
	border: thin;
	border-style: solid;
	border-width: 1px;
	border-color: #3E3E3E;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color: #B8429B;
	width: 70px;
}
.boton{
	border: thin;
	border-style: solid;
	border-width: 1px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color: #666666;
	width: 90px;
	background-color :#F9F9F9;
	border-color: #cccccc;
	font-weight: bold;
	text-align: center;
	}
.botong{
	border: thin;
	border-style: solid;
	border-width: 1px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color: #666666;
	width: 130px;
	background-color :#F9F9F9;
	border-color: #cccccc;
	font-weight: bold;
	text-align: center;
	}
.caja{
	float: left;
	border: thin;
	border-style: solid;
	border-width: 1px;
	border-color: #3E3E3E;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color: #3D3D3D;
	width: 120px;
}
.cajag{
	border: thin;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 10px;
	color: #000000;
	width: 180px;
}


.cajaprop{
	border: thin;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 10px;
	color: #000000;
	width: 360px;
}

.caja-resul{
	border: thin;
	border-style: solid;
	border-width: 1px;
	border-color: #eeeeee;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color: #000000;
	font-weight:bold;
	width: 180px;
	background-color:#eeeeee;
}
.cajam{
	border: thin;
	border-style: solid;
	border-width: 1px;
	border-color: #3E3E3E;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color: #3D3D3D;
	width: 170px;
}
.cajaxg{
	float: left;
	border: thin;
	border-style: solid;
	border-width: 1px;
	border-color: #3E3E3E;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color: #3D3D3D;
	width: 300px;
}
.cajaxxg{
	border: thin;
	border-style: solid;
	border-width: 1px;
	border-color: #3E3E3E;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color: #3D3D3D;
	width: 450px;
}

.cajatexto{
	border: thin;
	border-style: solid;
	border-width: 1px;
	border-color: #3E3E3E;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color: #3D3D3D;
	width: 300px;
	height: 90px;
}
.cajatextog{
	border: thin;
	border-style: solid;
	border-width: 1px;
	border-color: #3E3E3E;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color: #3D3D3D;
	width: 570px;
	height: 120px;
}
.cajatextogris{
	border: thin;
	border-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #F9F9F9;
	+font-size: 9px;
	color: #3D3D3D;
	width: 570px;
	height: 120px;
}
.tabla{
	border: thin;
	border-style: solid;
	border-width: 1px;
	border-color: #AFAFAF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
}
.tablam{
	border: thin;
	border-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
}
.cabeceratabla{
	border: thin;
	border-style: solid;
	border-width: 1px;
	border-color: #B8429B;
	background-color: #B8429B;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color: White;
	font-weight: bold;
}
.tablamedia{
	background-color: #E6B9DA;
	border-color: #E6B9DA;
	+font-size: 9px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	border: thin;
	border-style: solid;
	border-width: 1px;
	border-color: #E6B9DA;
}
.filaclara{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color : #3D3D3D;
	background-color :#F9F9F9;
	border-color: #F9F9F9;
}
.filaclarac{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color : #3D3D3D;
	background-color :#F9F9F9;
	border-color: #F9F9F9;
	text-align: center;
}
.filaclaranegrita{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color : #3D3D3D;
	background-color :#F9F9F9;
	border-color: #F9F9F9;
	font-weight: bold;
}
.filaclaranegritac{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color : #3D3D3D;
	background-color :#F9F9F9;
	border-color: #F9F9F9;
	font-weight: bold;
	text-align: center;
}
.filarosa{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color : #3D3D3D;
	background-color :#F9F9F9;
	border-color: #F9F9F9;
}
.filaoscura{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color : #3D3D3D;
	background-color :#EBEBEB;
	border-color :#EBEBEB;
}
.filaoscuranegritac{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color : #3D3D3D;
	background-color :#EBEBEB;
	border-color :#EBEBEB;
	text-align: center;
	font-weight: bolder;
}
.filaoscurac{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color : #3D3D3D;
	background-color :#EBEBEB;
	border-color :#EBEBEB;
	text-align: center;
}
.filaoscuranegrita{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color : #3D3D3D;
	background-color :#EBEBEB;
	border-color :#EBEBEB;
	font-weight: bold;

}
.filaxoscura{
	background-color: #DADADA;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color : #000000;
	font-weight: bold;
}
.enlace{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	font-weight: bold;
	color : #3D3D3D;
}
a.enlace:hover{
	text-decoration: underline;
	color: #818181;
}
a.normal:hover{
	text-decoration: underline;
	color: #818181;
}
.solapaselec{
	background-color: #EBEBEB;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color : #000000;
	font-weight: bold;
	border-color: #303030;
}
.destacada{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	color: #B8429B;
}
.filacerrar{
	background-color: #cccccc;
	border-color: #cccccc;
	color: black;
	font-weight: bolder;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size: 9px;
	text-align: right;
}
a.filacerrar:hover{
	text-decoration: underline;
	color: #666666;
}

.actionbar {
	width: 100%;
    border-top : 1px solid Black;
    border-bottom : 1px solid Black;
    background : #eeeeee;
    background-color : #eeeeee;
    font-family : Verdana, Courier, monospace;
	}
.edittxt{
	border: thin;
	border-color : #ffffff;
	border-style : solid;
	border-width : 1px;
	background-color : #ffffff;
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	+font-size : 10px;
	width : 100%;
	height: 100%;
}