
li.xim-tagsinput-newtag{
	float: none;
	display: block;
	padding-bottom: 10px;
}


li.xim-tagsinput-tag, li.xim-tagsinput-tag:hover, .nube_tags li {
	background: #75c4c2 url(../../../../../../xmd/images/action/metatags.png) no-repeat 8px center;
	border: 1px solid #6cb3b1;
	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	-ms-border-radius: 3em;
	-o-border-radius: 3em;
	border-radius: 3em;
	color: #014041;
	text-shadow: 1px 1px 0 rgba(255,255,255, .6);
	padding: 0 0 1px 29px;
	position: relative;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255, .3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255, .3);
	-ms-box-shadow: inset 0 1px 0 rgba(255,255,255, .3);
	-o-box-shadow: inset 0 1px 0 rgba(255,255,255, .3);
	box-shadow: inset 0 1px 0 rgba(255,255,255, .3);
	line-height: 1.6em !important;
}



.nube_tags li{
	background: #d1d1d1;
	border: 1px solid #c8c8c8;
	float: left;
	margin: 0 10px 10px 0;
	color: #515151;
	overflow: hidden;
}

.nube_tags li:hover{
	background: #33a5a6;
	border: 1px solid #33a5a6;
	cursor: pointer;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0,0,0,.3);
}

li select.ontology-type-select{
	clear:left;
}

.amount{
	background: #60afad;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0,0,0,.3);
	border-left: 1px solid #6db5b3;
	-moz-box-shadow: inset 1px 0 0 rgba(255,255,255, .3);
	-webkit-box-shadow: inset 1px 0 0 rgba(255,255,255, .3);
	-ms-box-shadow: inset 1px 0 0 rgba(255,255,255, .3);
	-o-box-shadow: inset 1px 0 0 rgba(255,255,255, .3);
	box-shadow: inset 1px 0 0 rgba(255,255,255, .3);
	-moz-border-radius: 0 3em 3em 0;
	-webkit-border-radius: 0 3em 3em 0;
	-ms-border-radius: 0 3em 3em 0;
	-o-border-radius: 0 3em 3em 0;
	border-radius: 0 3em 3em 0;
	padding: 5px 8px 5px 9px;
	font-size: .86em;
	margin-left: 4px;
}

.nube_tags li span.amount{
	background: #c5c5c5;
	border-left: 1px solid #c8c8c8;
	margin-left: 12px;
	padding: 35px 8px 35px 9px;
}

.nube_tags li:hover span.amount{
	background: #227a7b;
	border-left: 1px solid #2c9b9c;
	-moz-box-shadow: inset 1px 0 0 rgba(255,255,255, .3);
	-webkit-box-shadow: inset 1px 0 0 rgba(255,255,255, .3);
	-ms-box-shadow: inset 1px 0 0 rgba(255,255,255, .3);
	-o-box-shadow: inset 1px 0 0 rgba(255,255,255, .3);
	box-shadow: inset 1px 0 0 rgba(255,255,255, .3);
}
.xim-tagsinput-tag-remove{
	background: #717171;
	color: #fff !important;
	text-shadow: none;
	position: absolute;
	top: -6px;
	right: -3px;
	line-height: 1em;
	width: 10px;
	height: 14px;
	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	-ms-border-radius: 3em;
	-o-border-radius: 3em;
	border-radius: 3em;
	padding: 0 2px 0 2px;
	display: none;
}

li.xim-tagsinput-tag:hover .xim-tagsinput-tag-remove{
	display: block;
}

.xim-tagsinput-tag-remove:hover{
	background: #111;
}

form.setmetadata-tags_form {
	margin: 40px 0px 0px 30px;
}

.xim-tagsinput-container p + ul.xim-tagsinput-list{
	padding: 22px 10px 22px 80px;
}



form.setmetadata-tags_form ul.nube_tags {
	width: 47%;
	margin: 5px 0;
	float: left;
}



.tagcloud{
	margin-top: 35px !important;
	border-top: 1px solid #fff;
	padding-top: 31px;
	-moz-box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.05) inset;
}

