/**
 *  \details &copy; 2011  Open Ximdex Evolution SL [http://www.ximdex.org]
 *
 *  Ximdex a Semantic Content Management System (CMS)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published
 *  by the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  See the Affero GNU General Public License for more details.
 *  You should have received a copy of the Affero GNU General Public License
 *  version 3 along with Ximdex (see LICENSE file).
 *
 *  If not, visit http://gnu.org/licenses/agpl-3.0.html.
 *
 *  @author Ximdex DevTeam <dev@ximdex.com>
 *  @version $Revision$
 */
#previewer {
  position: absolute;
  top: 30px;
  left: 85%;
  font: 12px verdana,arial,helvetica;
  color: #000000;
  background: #000000;
  padding: 10px;
  border: none;
  z-index: 5; }

.version-info {
  padding: 0 18.8em 0 2%;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  .version-info::before {
    display: block;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    background: #b2e0d9;
    margin-top: .5em;
    margin-left: .4em; }

.version {
  padding: 0 2em 0 0;
  position: relative; }
  .version strong {
    background: #b2e0d9;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    min-width: 3.5em;
    text-align: center;
    padding: .6em .2em; }

.version-preview, .buttons, .version-name, .version-date {
  display: inline-block; }

.version-name, .version-date {
  min-width: 40%;
  padding: 1em; }
