/**
 *  \details &copy; 2018 Open Ximdex Evolution SL [http://www.ximdex.org]
 *
 *  Ximdex a Semantic Content Management System (CMS)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published
 *  by the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  See the Affero GNU General Public License for more details.
 *  You should have received a copy of the Affero GNU General Public License
 *  version 3 along with Ximdex (see LICENSE file).
 *
 *  If not, visit http://gnu.org/licenses/agpl-3.0.html.
 *
 *  @author Ximdex DevTeam <dev@ximdex.com>
 *  @version $Revision$
 */

.status-buttons {
	margin-top: 2em;
}

.file-icon {
	font-size: 32px;
	position: relative;
	top: .1em;
	color: #166565;
}

.unfinished-task {
	color: #800000;
	font-size: 23px;
	top: .85em;
	position: relative;
}

.finished-task {
	color: #43a1a2;
	font-size: 23px;
	top: .85em;
	position: relative;
}

.resume-btn {
	background-color: #22B8C1 !important;
}

.pause-btn {
	background-color: #D1AC2A !important;
}

.color-trans{
	-webkit-transition: color 2s;
	-moz-transition: color 2s;
	-ms-transition: color 2s;
	-o-transition: color 2s;
	transition: color 2s;
}

.media.progress {
	margin-bottom: 5pt;
}

.progress-bar {
	background-color: #1D8687;
}

.progress-bar-pending {
    background-color: #045FB4;
}

.progress-bar-active {
    background-color: #FFBF00;
}

.progress-bar-success {
	background-color: #75CD9D;
}

.progress-bar-errored-fatal {
    background-color: #B40404;
}

.progress-bar-errored-soft {
    background-color: #DF0174;
}

.media .clock::before {
	padding: 0px;
	font-size: 1.3em;
}

.media .type-icon {
	width: 40pt;
	margin-top: 10pt;
}

.media .servers {
	margin-top: 15pt;
	margin-botom : 25pt;
	width: 95%;
}

.media .server {
	margin-bottom: 0;
}

.media .server-disabled-by-user {
	color: orange;
	float: right;
	margin-top: 3pt;
}

.media .server-disabled {
    color: red;
    float: right;
    margin-top: 3pt;
}
