<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="favicon.ico" >
    <link rel="stylesheet" href="xmd/style/installer/normalize.css">
    <link rel="stylesheet" href="xmd/style/installer/main.css">
    <link rel="stylesheet" href="extensions/ladda/dist/ladda-themeless.min.css">
    <link rel="stylesheet" href="extensions/humane/flatty.css">

    <link href='xmd/style/fonts.css' rel='stylesheet' type='text/css' />

    <title>Ximdex Installer</title>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="extensions/angular/angular.min.js" ></script>
    <script type="text/javascript" src="extensions/angular/angular-animate.min.js" ></script>
    <script type="text/javascript" src="extensions/angular/angular-animate.min.js" ></script>
    <script type="text/javascript" src="extensions/ladda/dist/spin.min.js" ></script>
    <script type="text/javascript" src="extensions/ladda/dist/ladda.min.js" ></script>
    <script type="text/javascript" src="extensions/humane/humane.min.js" ></script>

    <script type="text/javascript" >
        var ximdexInstallerApp = angular.module('ximdexInstallerApp',[]);
    </script>
    <script type="text/javascript" src="inc/install/view/js/directives/ladda.js"></script>
    <script type="text/javascript" src="inc/install/view/js/services/installerService.js"></script>
            <script type="text/javascript" src="inc/install/steps/welcome/js/WelcomeController.js"></script>
        </head>
<body ng-app="ximdexInstallerApp" ng-cloak>

    <div class="aside">
        <h1><a href="http://www.ximdex.com">ximdexl</a></h1>
        <ul class="installer">
                           <li class='installer_step installer_step-current'>
                    <span class="installer_step-launcher icon">
                        
			Welcome
		                    </span>
                </li>    
                                   <li class='installer_step '>
                    <span class="installer_step-launcher icon">
                        
			Database configuration
		                    </span>
                </li>    
                                   <li class='installer_step '>
                    <span class="installer_step-launcher icon">
                        
			Initial settings
		                    </span>
                </li>    
                                   <li class='installer_step '>
                    <span class="installer_step-launcher icon">
                        
			Ximdex Modules
		                    </span>
                </li>    
                                   <li class='installer_step '>
                    <span class="installer_step-launcher icon">
                        
			Xowl Configuration
		                    </span>
                </li>    
                                   <li class='installer_step '>
                    <span class="installer_step-launcher icon">
                        
			Get started!
		                    </span>
                </li>    
                            
        </ul>

        <ul class="social">
            <li class="icon_btn">
                <a target="_blank" href="https://twitter.com/ximdex" class="twitter_btn icon">Cuenta Twitter de Ximdex</a>
            </li>
            <li class="icon_btn">
                <a target="_blank" href="https://plus.google.com/+Ximdex/about" class="icon google_btn">Cuenta Google+ de Ximdex</a>
            </li>
            <li class="icon_btn">
                <a target="_blank" href="https://www.facebook.com/Ximdex" class="icon facebook_btn">Cuenta Facebook de Twitter</a>
            </li>
        </ul>

        <div class="footer">
            <a target="_blank" href="http://www.ximdex.com">www.ximdex.com</a>
        </div>
    </div><div class="content step-init">
        
<form method="post" ng-controller="WelcomeController" ng-cloak>
    <h2>Welcome to Ximdex CMS's web installer!</h2>
    <p>Build flexible, scalable and secure Web Portals with the Semantic CMS XIMDEX and its modules: Xowl, to automatically enhance your content; Xlyre for linked open data; Xfind, to index and retrieve information, Xhawk to check content integrity, etc. </p>

    <p ng-repeat-start="(index, error) in errors" ng-class="error.state">{{error.message}}</p>
    <p ng-repeat-end class="desc">{{error.help}}</p>
    <br/>
    <button class="launch_ximdex action_launcher" ng-click="checkInstaller()" ng-hide="checked">Check configuration</button>
    <button class="launch_ximdex action_launcher" ng-click="nextStep()" ng-show="checked">Start installation</button>
</form>
       
    </div>

</body>
</html>