/**
 *  \details &copy; 2011  Open Ximdex Evolution SL [http://www.ximdex.org]
 *
 *  Ximdex a Semantic Content Management System (CMS)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published
 *  by the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  See the Affero GNU General Public License for more details.
 *  You should have received a copy of the Affero GNU General Public License
 *  version 3 along with Ximdex (see LICENSE file).
 *
 *  If not, visit http://gnu.org/licenses/agpl-3.0.html.
 *
 *  @author Ximdex DevTeam <dev@ximdex.com>
 *  @version $Revision$
 */
.config_button, .document_actions .edit, .document_actions .preview, .new_item {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.4rem; }

.new_item {
  background: #fff;
  border: 1px solid #dedede;
  display: inline-block;
  padding: .7em 1em;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: bold;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  z-index: 2;
  cursor: pointer !important;
  border-color: #fff;
  background: #d6d8dd; }
  .new_item input {
    cursor: pointer; }
  .new_item:focus, .new_item:active, .active.new_item, .new_item:hover {
    outline: none; }
  .new_item:focus, .new_item:hover {
    background: #babdc6; }
  .new_item:active, .active.new_item {
    box-shadow: inset 0 0 1px #464955; }
  .new_item:disabled, .disabled.new_item {
    background: #babdc6 !important;
    cursor: default !important; }

.config_button, .document_actions .edit, .document_actions .preview {
  display: block;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden; }

.document_item .document-path::before {
  background: rgba(35, 35, 35, 0.8);
  color: #fff;
  padding: .5em 1em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: all .5s .3s;
  -moz-transition: all .5s .3s;
  -ms-transition: all .5s .3s;
  -o-transition: all .5s .3s;
  transition: all .5s .3s;
  z-index: 5; }

.document_empty ol {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.project_item, .document_item {
  border: 1px solid #ccc;
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-right: 1em; }

.new_item {
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all; }

/*******
//	ICON GENERIC STYLES
*******/
/*******
//	ICONS
*******/
.document_item .edit::before {
  content: "\45"; }

.document_item .edit {
  content: "\45"; }

.config_button::before {
  content: "\e02a"; }

.document_item .image::before {
  content: "\49"; }

.document_item .preview::before {
  content: "\70"; }

.welcome {
  height: 100%; }
  .welcome .action_content {
    padding: 2em 4%;
    padding-bottom: 0; }

.action_content h2 {
  font-size: 1.06em;
  margin-bottom: 1em;
  padding-bottom: .5em;
  border-bottom: 2px solid #c6cfd3; }

.main_content {
  width: 66%;
  display: inline-block; }

.ximdex_projects, .ximdex_documents {
  padding-bottom: 2.5em; }

.project_item {
  display: inline-block;
  padding: 1em;
  position: relative;
  width: 10.5em;
  min-height: 9.5em;
  vertical-align: top;
  margin-bottom: 1em; }

.project_name {
  display: block;
  font-family: "Coustard";
  font-size: 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 2em; }

.project_image {
  padding-bottom: 1em;
  width: 100%; }

.config_button::before {
  right: 0;
  top: 0;
  font-size: 1.31em; }

.config_button, .document_actions .edit, .document_actions .preview {
  width: 1.3em;
  height: 1.3em;
  position: relative;
  padding: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
  .config_button::before, .document_actions .edit::before, .document_actions .preview::before {
    position: absolute;
    color: #606060;
    text-indent: 0;
    height: 100%;
    top: 0;
    right: 0; }
  .config_button:hover, .document_actions .edit:hover, .document_actions .preview:hover {
    background: #7bcabf; }
    .config_button:hover::before, .document_actions .edit:hover::before, .document_actions .preview:hover::before {
      color: #fff; }

.project_actions {
  position: absolute;
  right: .8em;
  top: 7.27em; }

.new_item {
  background: #7bcabf;
  font-size: 0.81em !important;
  color: #fff;
  text-shadow: 0 -1px 0 #47b1a3, 0 1px 0 #b2e0d9;
  padding: .5em .8em .6em;
  margin: 0;
  display: block; }
  .new_item:hover {
    text-shadow: 0 -1px 0 #838383, 0 1px 0 #aeaeae; }

/**************
// Empty state
***************/
.project_empty {
  background: url(../imgs/empty_states.png) no-repeat left top;
  padding: 8em 0 0 .2em;
  margin-bottom: 1em;
  font-weight: bold; }

.document_empty ol {
  justify-content: space-between; }
.document_empty li {
  width: 26%;
  text-align: center;
  padding-top: 7.8em;
  background: url(../imgs/empty_states.png) no-repeat center 11px;
  position: relative;
  font-weight: bold;
  line-height: 1.2;
  min-width: 9em; }
  .document_empty li::before {
    content: "1";
    width: 1.5em;
    height: 1.5em;
    background: #9ee5c8;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: 5.5em;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 3;
    line-height: 1.4; }
  .document_empty li.created_project::before {
    background: #31de97;
    content: "\79"; }
  .document_empty li.created_project::after {
    border-top: 2px solid #909191; }
  .document_empty li:nth-child(2) {
    background: url(../imgs/empty_states.png) no-repeat center -237px; }
    .document_empty li:nth-child(2)::before {
      content: "2"; }
  .document_empty li:nth-child(3) {
    background: url(../imgs/empty_states.png) no-repeat center -489px; }
    .document_empty li:nth-child(3)::before {
      content: "3"; }
    .document_empty li:nth-child(3)::after {
      border: none; }
  .document_empty li::after {
    content: "";
    width: 135%;
    position: absolute;
    border-top: 2px dashed #909191;
    top: 6.25em;
    left: 55%;
    z-index: 2; }

/**************
// Documents
***************/
.document_item {
  padding: .8em 2.5em .8em .8em;
  display: inline-block;
  width: calc(50% - 1em);
  margin-bottom: 1em;
  font-family: "Coustard";
  vertical-align: top;
  font-size: 0.81em;
  position: relative;
  margin-left: -2px; }
  .document_item:nth-child(even) {
    margin-right: 2em; }
  .document_item:nth-child(odd) {
    margin-right: 0; }
  .document_item .document {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 100%; }
    .document_item .document::before {
      font-size: 1.2em;
      padding-right: .5em; }
  .document_item .edit {
    width: 1.5em;
    height: 1.5em; }
    .document_item .edit::before {
      right: 0;
      top: 0;
      font-size: 1.1em;
      line-height: 1.4;
      padding-right: .2em; }
  .document_item .image::before {
    padding-right: .5em;
    font-size: 1.2em; }
  .document_item .preview::before {
    font-size: 1.2em;
    padding-right: .05em;
    line-height: 1.2; }
  .document_item .document-version {
    color: #7bcabf;
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-size: 1.08em; }
  .document_item .document-path {
    white-space: nowrap;
    max-width: 80%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Source Sans Pro";
    margin: .1em 0 0 1.7em;
    cursor: pointer;
    font-size: 1.08em; }
    .document_item .document-path::before {
      content: attr(data-tooltip);
      margin-left: -1em;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none; }
    .document_item .document-path::after {
      border: 0.4em solid transparent;
      position: absolute;
      content: "";
      border-bottom-color: rgba(35, 35, 35, 0.8);
      margin-top: -0.8em;
      margin-top: 1em;
      left: 3em;
      opacity: 0; }
    .document_item .document-path:hover::before, .document_item .document-path:hover::after {
      opacity: 1;
      -webkit-transition: all .5s .3s;
      -moz-transition: all .5s .3s;
      -ms-transition: all .5s .3s;
      -o-transition: all .5s .3s;
      transition: all .5s .3s; }
    .document_item .document-path:hover::before {
      height: auto;
      bottom: -2em; }

.document_actions {
  position: absolute;
  right: 1em;
  top: 50%;
  /*-webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);	*/
  margin-top: -.7em; }

/**************
// SIDEBAR
***************/
.sidebar {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  width: calc(33.3% - 3em);
  background: #464646;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left: 3em;
  overflow: hidden; }
  .sidebar h3 {
    padding: 1em;
    color: #7bcabf;
    border-bottom: 3px solid; }
  .sidebar li {
    border-bottom: 1px solid #ccc; }
    .sidebar li:last-child {
      border-bottom: none; }
  .sidebar a {
    color: #ccc;
    display: block;
    padding: 1em; }
    .sidebar a:hover {
      background: #7bcabf;
      color: #464646; }
