/**
 *  \details &copy; 2011  Open Ximdex Evolution SL [http://www.ximdex.org]
 *
 *  Ximdex a Semantic Content Management System (CMS)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published
 *  by the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  See the Affero GNU General Public License for more details.
 *  You should have received a copy of the Affero GNU General Public License
 *  version 3 along with Ximdex (see LICENSE file).
 *
 *  If not, visit http://gnu.org/licenses/agpl-3.0.html.
 *
 *  @author Ximdex DevTeam <dev@ximdex.com>
 *  @version $Revision$
 */
/**************
// COLORS
***************/
/**************
// SHADOWS
***************/
/**************
// TYPO
***************/
/**************
// INCLUDES
***************/
/**************
// EXTENDS
***************/
/* NO Extends because they are inserted at the beggining of each CSS file */
.folder-name {
  position: relative;
  margin: 2em 0; }
  .folder-name .full-size {
    padding: .5em 32% .5em 2.5em; }
    .folder-name .full-size::-webkit-input-placeholder {
      font-style: italic; }
    .folder-name .full-size:-moz-placeholder {
      /* Firefox 18- */
      font-style: italic; }
    .folder-name .full-size::-moz-placeholder {
      /* Firefox 19+ */
      font-style: italic; }
    .folder-name .full-size:-ms-input-placeholder {
      font-style: italic; }
  .folder-name.disabled {
    opacity: 1 !important;
    background: #fff; }
    .folder-name.disabled h3, .folder-name.disabled .folder-type {
      padding: .9em 2.8em .8em; }
    .folder-name.disabled .folder-type {
      border-left: 2px solid #edeeee;
      background: #e4e5e9;
      color: #686d7f;
      font-size: 1.3rem;
      padding: 1.1em 1.8em .8em;
      cursor: auto; }
  .folder-name.folder-normal::before, .folder-name.folder-news::before {
    position: absolute;
    left: .8em;
    top: 0;
    line-height: 2.4em;
    color: #7bcabf; }
  .folder-name.folder-news::before {
    color: #D93E42; }
  .folder-name.disabled::before {
    color: #606060; }

.full-size {
  width: 100%; }

.folder-type {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  border: none;
  min-width: 30%;
  background: #ACAFBB;
  height: 100%;
  color: #fff;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  cursor: pointer; }
  .folder-type:hover {
    background: #9ea1b0; }
  .folder-type.disabled {
    padding: .65em 1em;
    cursor: auto; }
    .folder-type.disabled:hover {
      background: inherit; }

.subfolder {
  background: #fff;
  width: 8em;
  height: 8em;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: .5em 1em .5em 0; }
  .subfolder label {
    display: block !important;
    width: 100%;
    text-align: center;
    height: 100%;
    cursor: pointer;
    border: 1px solid #ccc;
    padding-right: 0 !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
    .subfolder label::before {
      content: "";
      display: inline-block;
      vertical-align: bottom;
      height: 100%;
      width: 0; }
    .subfolder label::after {
      position: absolute;
      top: 1.25em;
      font-size: 1.6em;
      left: 1.7em;
      color: #fff; }
    .subfolder label:hover {
      background: #ddd;
      background: #d6d8dd; }
    .subfolder label:hover + .info {
      opacity: 1;
      bottom: 8em;
      height: auto;
      visibility: visible; }
  .subfolder strong {
    display: inline-block;
    text-transform: uppercase;
    color: #464646;
    font-size: 1.4rem;
    vertical-align: bottom;
    padding-bottom: .8em; }
    .subfolder strong::before {
      content: "";
      position: absolute;
      width: 3em;
      height: 3em;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: #e45b5b;
      top: 2em;
      left: 3em;
      -webkit-box-shadow: 0 0 5px #fff;
      -moz-box-shadow: 0 0 5px #fff;
      box-shadow: 0 0 5px #fff; }
    .subfolder strong.common::before {
      background: #39AFC8; }
    .subfolder strong.documents::before {
      background: #7165B2; }
    .subfolder strong.images::before {
      background: #75CD9D; }
    .subfolder strong.templates::before {
      background: #9A2891; }
    .subfolder strong.ximclude::before {
      background: #E7AB65; }
    .subfolder strong.ximlet::before {
      background: #B190B1; }
    .subfolder strong.news::before {
      background: #D93E42; }
    .subfolder strong.bulletins::before {
      background: #D8C9AE; }
  .subfolder :checked + label {
    background: #9fd9d1;
    border-color: #7bcabf; }
    .subfolder :checked + label strong::after {
      position: absolute;
      top: 1.87em;
      left: 2.55em;
      font-size: 2.1rem;
      z-index: 3; }
    .subfolder :checked + label strong.common::after {
      color: #2d8da1; }
    .subfolder :checked + label strong.documents::after {
      color: #584c98; }
    .subfolder :checked + label strong.images::after {
      color: #50bf82; }
    .subfolder :checked + label strong.templates::after {
      color: #721d6b; }
    .subfolder :checked + label strong.ximclude::after {
      color: #e09339; }
    .subfolder :checked + label strong.ximlet::after {
      color: #9c729c; }
    .subfolder :checked + label strong.news::after {
      color: #be2629; }
    .subfolder :checked + label strong.bulletins::after {
      color: #c7b28c; }
  .subfolder .info {
    background: rgba(35, 35, 35, 0.8);
    color: #fff;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 250px;
    position: absolute;
    display: block;
    -webkit-transition: all .5s .3s;
    -moz-transition: all .5s .3s;
    -ms-transition: all .5s .3s;
    -o-transition: all .5s .3s;
    transition: all .5s .3s;
    bottom: 12em;
    opacity: 0;
    left: -1em;
    z-index: 3;
    visibility: hidden;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none; }
    .subfolder .info::before {
      content: "";
      position: absolute;
      border: 10px solid transparent;
      border-top-color: rgba(35, 35, 35, 0.8);
      bottom: -20px;
      left: 4.3em; }

.languages-section {
  margin: 1.5em 25px .8em; }
  .languages-section label {
    width: 100%;
    background: #fff;
    border: 1px solid #dedede;
    display: block !important;
    padding: .7em 1em;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: bold;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    border-color: #fff;
    background: #d6d8dd; }
    .languages-section label:hover {
      background: #c8cad2; }
    .languages-section label::before {
      position: relative;
      z-index: 2;
      padding-right: .8em;
      color: rgba(255, 255, 255, 0.7); }
    .languages-section label:after {
      content: "";
      position: absolute;
      background: rgba(255, 255, 255, 0.7);
      width: 1em;
      height: 1em;
      left: .83em;
      border: 1px solid rgba(55, 55, 55, 0.1);
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
  .languages-section :checked + label {
    border-color: #fff;
    background: #9fd9d1;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2); }
    .languages-section :checked + label::before {
      color: #464646; }
    .languages-section :checked + label::after {
      border-color: white; }
  .languages-section .alternative-name {
    margin-top: -2.5em;
    opacity: 0;
    width: 100%;
    border: 1px solid #ccc;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    visibility: hidden; }
    .languages-section .alternative-name::-webkit-input-placeholder {
      font-style: italic; }
    .languages-section .alternative-name:-moz-placeholder {
      /* Firefox 18- */
      font-style: italic; }
    .languages-section .alternative-name::-moz-placeholder {
      /* Firefox 19+ */
      font-style: italic; }
    .languages-section .alternative-name:-ms-input-placeholder {
      font-style: italic; }
  .languages-section :checked ~ .alternative-name {
    margin-top: .5em;
    opacity: 1;
    visibility: visible; }

.hidden-focus {
  opacity: 0;
  position: absolute;
  z-index: 0; }
  .hidden-focus:focus + label {
    -webkit-box-shadow: 0 0 3px 1px rgba(229, 175, 82, 0.9);
    -moz-box-shadow: 0 0 3px 1px rgba(229, 175, 82, 0.9);
    box-shadow: 0 0 3px 1px rgba(229, 175, 82, 0.9); }
