/**
 *  \details &copy; 2011  Open Ximdex Evolution SL [http://www.ximdex.org]
 *
 *  Ximdex a Semantic Content Management System (CMS)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published
 *  by the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  See the Affero GNU General Public License for more details.
 *  You should have received a copy of the Affero GNU General Public License
 *  version 3 along with Ximdex (see LICENSE file).
 *
 *  If not, visit http://gnu.org/licenses/agpl-3.0.html.
 *
 *  @author Ximdex DevTeam <dev@ximdex.com>
 *  @version $Revision$
 */
/* NO Extends because they are inserted at the beggining of each CSS file */
.full-size {
  width: 100%; }

.subfolder {
  background: #fff;
  width: 8em;
  height: 8em;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0 1em 1em 0; }
  .subfolder label {
    display: block !important;
    width: 100%;
    text-align: center;
    height: 100%;
    cursor: pointer;
    border: 1px solid #ccc;
    padding-right: 0 !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
    .subfolder label::before {
      content: "";
      display: inline-block;
      vertical-align: bottom;
      height: 100%;
      width: 0; }
    .subfolder label::after {
      position: absolute;
      top: 1.25em;
      font-size: 1.6em;
      left: 1.7em;
      color: #fff; }
    .subfolder label:hover {
      background: #ddd;
      background: #d6d8dd; }
    .subfolder label:hover + .info {
      opacity: 1;
      bottom: 8em;
      height: auto;
      visibility: visible; }
  .subfolder strong {
    display: inline-block;
    text-transform: uppercase;
    color: #464646;
    font-size: 1.4rem;
    vertical-align: bottom;
    padding-bottom: .8em; }
    .subfolder strong::before {
      content: "";
      position: absolute;
      width: 3em;
      height: 3em;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: #e45b5b;
      top: 2em;
      left: 3em;
      -webkit-box-shadow: 0 0 5px #fff;
      -moz-box-shadow: 0 0 5px #fff;
      box-shadow: 0 0 5px #fff; }
    .subfolder strong.common::before {
      background: #39AFC8; }
    .subfolder strong.documents::before {
      background: #7165B2; }
    .subfolder strong.images::before {
      background: #75CD9D; }
    .subfolder strong.templates::before {
      background: #9A2891; }
    .subfolder strong.ximclude::before {
      background: #E7AB65; }
    .subfolder strong.ximlet::before {
      background: #B190B1; }
    .subfolder strong.news::before {
      background: #D93E42; }
    .subfolder strong.bulletins::before {
      background: #D8C9AE; }
  .subfolder :checked + label {
    background: #9fd9d1;
    border-color: #7bcabf; }
    .subfolder :checked + label strong::after {
      position: absolute;
      top: 1.87em;
      left: 2.55em;
      font-size: 2.1rem;
      z-index: 3; }
    .subfolder :checked + label strong.common::after {
      color: #2d8da1; }
    .subfolder :checked + label strong.documents::after {
      color: #584c98; }
    .subfolder :checked + label strong.images::after {
      color: #50bf82; }
    .subfolder :checked + label strong.templates::after {
      color: #721d6b; }
    .subfolder :checked + label strong.ximclude::after {
      color: #e09339; }
    .subfolder :checked + label strong.ximlet::after {
      color: #9c729c; }
    .subfolder :checked + label strong.news::after {
      color: #be2629; }
    .subfolder :checked + label strong.bulletins::after {
      color: #c7b28c; }
  .subfolder .info {
    background: rgba(35, 35, 35, 0.8);
    color: #fff;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 250px;
    position: absolute;
    display: block;
    -webkit-transition: all .5s .3s;
    -moz-transition: all .5s .3s;
    -ms-transition: all .5s .3s;
    -o-transition: all .5s .3s;
    transition: all .5s .3s;
    bottom: 12em;
    opacity: 0;
    left: -1em;
    z-index: 3;
    visibility: hidden;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none; }
    .subfolder .info::before {
      content: "";
      position: absolute;
      border: 10px solid transparent;
      border-top-color: rgba(35, 35, 35, 0.8);
      bottom: -20px;
      left: 4.3em; }
