.prevdoc-channel-selector {
	padding: 0 .7em;
	width: auto !important;
}

.prevdoc-body {
	margin: 0;
}

.prevdoc-container {
	height: 100%;
	border: none;
	margin: 0;
	padding: 0;
}

.prevdoc-document {
	border: none;
	width: 100%;
	height: 100%;
}