/**
 *  \details &copy; 2011  Open Ximdex Evolution SL [http://www.ximdex.org]
 *
 *  Ximdex a Semantic Content Management System (CMS)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published
 *  by the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  See the Affero GNU General Public License for more details.
 *  You should have received a copy of the Affero GNU General Public License
 *  version 3 along with Ximdex (see LICENSE file).
 *
 *  If not, visit http://gnu.org/licenses/agpl-3.0.html.
 *
 *  @author Ximdex DevTeam <dev@ximdex.com>
 *  @version $Revision$
 */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	+font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
	font-size: 62.5%;
}

body{
	background: #52A6A7 url(../../images/login/fondo.png)	no-repeat center  -115px ;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
}
#contenedor{
	width: 625px;
	margin: 5px auto;
	+font-size: 1.2em;
}

#contenedor h1{
	padding: 35px 0px 10px 26px;
}

#acceso{
	background: #fff;
	width: 295px;
	padding: 30px 15px; 
	float: left;
	margin: 18px 0;	
	position: relative;
}

#acceso:before{
	top: -11px;
	left: 33px;
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);

}

#acceso:after{
	right: -21px;
	top: 313px;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
#acceso p{
	text-align: center;
	padding: 18px 0 13px;
}

#acceso p a{
	display: block;
	clear: right;
	color: #777;
	float: right;
	border-bottom: 1px dotted;
	margin:5px 30px 0 0;
	text-decoration: none;
}

#acceso p a:hover{
	color: #e14f26;
}
#acceso p:last-child{
	text-align: right;
}

#acceso p:last-child span{
	float: right;
	color: #929292;
	margin: 5px 35px 0 0;
	font-size: 12px;
	font-size: 1.2rem;
}

#acceso label{
	font-family: Coustard, serif;
	font-style:italic;
	font-size: 18px;
	font-size: 1.8rem;
	color: #458788;
	text-shadow: 1px 1px 0 #9ED7D8;
	display: block;
	text-align: left;
	padding: 5px 0 12px 26px;
}

#acceso input{
	border: 2px solid #458788;
	+font-size: 1.2em;
	line-height: 1.7em;
	-moz-box-shadow: inset 0px 0px 6px #80c0c1;
	-webkit-ox-shadow: inset 0px 0px 6px #80c0c1;
	box-shadow: inset 0px 0px 6px #80c0c1;
	padding: 3px;
	width: 190px;
}
#acceso input:focus{
	/*background: url(../../images/login/fnd_txt_focus.png) no-repeat left top;*/
	background: #efffff;
	-moz-box-shadow: 0px 0px 7px #40A8A5;
	-webkit-box-shadow: 0px 0px 7px #40A8A5;
	box-shadow: 0px 0px 7px #40A8A5;
	border: 2px solid #52A6A7;
}

#acceso input#login{
	background: #39afb0; /* Old browsers */
	background: -moz-linear-gradient(top,  #39afb0 11%, #2e9c9d 92%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(11%,#39afb0), color-stop(92%,#2e9c9d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #39afb0 11%,#2e9c9d 92%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #39afb0 11%,#2e9c9d 92%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #39afb0 11%,#2e9c9d 92%); /* IE10+ */
	background: linear-gradient(top,  #39afb0 11%,#2e9c9d 92%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39afb0', endColorstr='#2e9c9d',GradientType=0 ); /* IE6-9 */

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	border: 1px solid #1b999a;
	
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 #1c797a, 0 2px 3px rgba(25,25,25,.4);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 #1c797a, 0 2px 3px rgba(25,25,25,.4);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 #1c797a, 0 2px 3px rgba(25,25,25,.4);
	
	font-size: 14px;
	font: 1.4rem Coustard, Georgia, "Times New Roman", Times, serif;
	color: #fff;
	float: right;
	width: auto;
	padding: 6px 17px 4px;
	margin: 0 40px 8px 0;
	cursor: pointer;
	text-shadow: 1px 1px 0 rgba(52, 52, 52, 0.5);
}

#acceso input#login:hover {
	background: #e4582a; /* Old browsers */
	background: -moz-linear-gradient(top,  #e4582a 0%, #de4722 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4582a), color-stop(100%,#de4722)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e4582a 0%,#de4722 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e4582a 0%,#de4722 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e4582a 0%,#de4722 100%); /* IE10+ */
	background: linear-gradient(top,  #e4582a 0%,#de4722 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4582a', endColorstr='#de4722',GradientType=0 ); /* IE6-9 */
	border: 1px solid #d6431f;
	text-shadow: 1px 1px 5px #e05026;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 #bb3818, 0 2px 3px rgba(25,25,25,.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 #bb3818, 0 2px 3px rgba(25,25,25,.4);
	-ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 #bb3818, 0 2px 3px rgba(25,25,25,.4);
	-o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 #bb3818, 0 2px 3px rgba(25,25,25,.4);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 #bb3818, 0 2px 3px rgba(25,25,25,.4);
	text-shadow: 1px 1px 0 rgba(52, 52, 52, 0.2);
}


#acceso input#login:active{
	
	background: #2e9c9d; /* Old browsers */
	background: -moz-linear-gradient(top,  #2e9c9d 11%, #39afb0 92%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(11%,#2e9c9d), color-stop(92%,#39afb0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2e9c9d 11%,#39afb0 92%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2e9c9d 11%,#39afb0 92%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2e9c9d 11%,#39afb0 92%); /* IE10+ */
	background: linear-gradient(top,  #2e9c9d 11%,#39afb0 92%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e9c9d', endColorstr='#39afb0',GradientType=0 ); /* IE6-9 */
	
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5) inset;
	-ms-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5) inset;
	-o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5) inset;
	
		border: 1px solid #1b999a;
		text-shadow: -1px -1px 0 rgba(52, 52, 52, 0.6);
}
#acceso input#login::-moz-focus-inner { border: 0;outline:0 }




#acceso input#login:active{
	outline: none;
}

#aviso{
	border: 2px #FB1 solid;
	background-color: #FF9;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 3px;
	clear:both;
	margin-top: 390px;
	text-align: justify;
}

#mas_info:before{
	border: none;
}

#mas_info:after{
	border-top-color: #52a6a7 ;
	top: 306px;
	left: -9px;
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-m-transform: rotate(-90deg);
	transform: rotate(-90deg);
} 

#mas_info{
	background: #fff;
	width: 235px;
	float: right;
	margin-top: 25px;
	padding: 8px 15px 30px 25px;
	color: #999;
	min-height: 313px;
	font-size: 12px;font-size: 1.2rem;

}

#mas_info h2{
	font-family: Coustard;
	+font-size: 1.25em;
	color: #458788;
	/*text-shadow: 1px 1px 1px #9ED7D8;*/
	font-weight: normal;
	font-size: 15px;
	font-size: 1.5rem;
}
#mas_info h2.comunidad{
	background:url(../../images/login/comunidad.png) no-repeat left top;	
	padding-left: 45px;
	height: 35px;
	line-height: 2.8em;
	padding-bottom: 14px;
	margin-top: 25px;
}
#mas_info h2.siguenos{
	background:url(../../images/login/siguenos.png) no-repeat left top;	
	padding-left: 45px;
	height: 35px;
	line-height: 2.8em;
	padding-bottom: 14px;
	margin-top: 15px;
}
#mas_info p{
	margin: 5px 25px 15px 25px;
}

#mas_info a{
	color: #999;	
	
}
#mas_info a:hover{
	color: #E05026;	
	
}
#mas_info a.twit{
	background:url(../../images/login/icon_twitter.png) no-repeat left bottom;
	padding-left: 30px;
	display:block;
	height: 20px;
	margin-left: 15px;
}

#mas_info a.twit:hover{
	background:url(../../images/login/icon_twitter_hover.png) no-repeat left bottom;
}
#mas_info a.face{
	background:url(../../images/login/icon_facebook.png) no-repeat left top;
	padding-left: 30px;
	display:block;
	height: 20px;
	margin-left: 15px;
}
#mas_info a.face:hover{
	background:url(../../images/login/icon_facebook_hover.png) no-repeat left top;
}
#mas_info a.link{
	background:url(../../images/login/icon_linkedin.png) no-repeat left top;
	padding-left: 30px;
	display:block;
	height: 20px;
	margin-bottom: 15px;
	margin-left: 15px;
}

#mas_info a.link:hover{
	background:url(../../images/login/icon_linkedin_hover.png) no-repeat left top;
}

.error{
	margin: 5px auto;
	color: #fb4234;
	position: absolute;
	top: 17px;
	padding: 0 15px;
}

.browserAdvice{
	position: absolute;
	top: -17px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-ms-border-radius: 3px 3px 3px 3px;
	-o-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-moz-box-shadow: 0 0 3px rgba(52, 52, 52, 0.5);
        -webkit-box-shadow: 0 0 3px rgba(52, 52, 52, 0.5); 
        -ms-box-shadow: 0 0 3px rgba(52, 52, 52, 0.5); 
        -o-box-shadow: 0 0 3px rgba(52, 52, 52, 0.5); 
        box-shadow: 0 0 3px rgba(52, 52, 52, 0.5); 
	background: none repeat scroll 0 0 #4395f1;
    	border: 1px solid #77b7ff;
    	color: #FFFFFF;
    	display: block;
    	padding: 4px 10px;
	width: 84%;
}

#news{
	clear:both;
	background: #fff url(../../images/login/bg-news.png);
	border: 8px solid #fff;
	padding: 15px;
	min-height: 120px;
}

#news h3{
	background: #fff;
	position: relative;
	padding: 2px 0 0 50px;
	margin: 0 0 15px;
	color: #52a6a7;
	font-family: 'Coustard', serif;
	font-weight: normal;
	font-size: 19px;
	font-size: 1.9rem;
}
#news h3:before{
	content: ' ';
 	background: url(../../images/login/news.png) no-repeat;
 	width: 35px;
 	height: 35px;
 	position: absolute;
 	top: -4px;
 	left: 8px;
}

.date{
	background: #52a6a7;
	color: #fff;
	font-size: 11px;
	font-size: 1.1rem;
	text-align: center;
	float: left;
	padding: 2px 4px;
	clear: left;
}

#news p{
	margin-left: 75px;
	background: rgba(255,255,255,.7);
	padding: 2px 10px;
	color: #4e4e4e;
}


#news p.title{
	color: #458788;
	font-size: 14px;
	font-size: 1.4rem;
	font-family: 'Coustard', serif;
	padding-top: 8px;
	text-shadow: 0 1px 0 #9FD8D8;
}

#news p:last-child{
	padding-bottom: 10px;
	font-size: 12px;
	font-size: 1.2rem;
}

#news img{
	border: 4px solid #52a6a7;	
	-moz-box-shadow: 0 0 4px #888;	
	-webkit-box-shadow: 0 0 4px #888;
	box-shadow: 0 0 4px #888;
	margin: 0 3px 10px;
}

#register{
	background: #fff url(../../images/login/access.png) no-repeat 17px 31px;
	clear: both;
	margin: 10px 0;
	padding: 18px 25px 25px 82px;
	position: relative;
	color: #777;
	+font-size: 1.1em;
}


#register:before{
	top: -18px;
	left: 25px;
}

#register:after{
	top: -1px;
	left: 25px;
	border-top: 11px solid #52a6a7;
}

#register p:first-child{
	font: 1.4em Coustard, serif;
	color: #006b6c;
	text-shadow: 1px 1px 0 #ccc;
	padding: 10px 0 6px;

}


#register a{
	background: #e4582a; /* Old browsers */
	background: -moz-linear-gradient(top,  #e4582a 0%, #de4722 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4582a), color-stop(100%,#de4722)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e4582a 0%,#de4722 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e4582a 0%,#de4722 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e4582a 0%,#de4722 100%); /* IE10+ */
	background: linear-gradient(top,  #e4582a 0%,#de4722 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4582a', endColorstr='#de4722',GradientType=0 ); /* IE6-9 */
	border: 1px solid #d6431f;
	text-shadow: 1px 1px 5px #e05026;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 #bb3818, 0 2px 3px rgba(25,25,25,.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 #bb3818, 0 2px 3px rgba(25,25,25,.4);
	-ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 #bb3818, 0 2px 3px rgba(25,25,25,.4);
	-o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 #bb3818, 0 2px 3px rgba(25,25,25,.4);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 #bb3818, 0 2px 3px rgba(25,25,25,.4);
	text-shadow: 1px 1px 0 rgba(52, 52, 52, 0.2);

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	
	
	font:.9em Coustard, Georgia, "Times New Roman", Times, serif;
	color: #fff;
	float: right;
	width: auto;
	padding: 6px 17px 4px 38px;
	margin: -10px 25px;
	cursor: pointer;
		text-decoration: none;
		position: relative;
}


#register a:hover{
	background: #e4582a; /* Old browsers */
	background: -moz-linear-gradient(top,  #de4722 0%, #e4582a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#de4722), color-stop(100%,#e4582a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #de4722 0%,#e4582a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #de4722 0%,#e4582a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #de4722 0%,#e4582a 100%); /* IE10+ */
	background: linear-gradient(top,  #de4722 0%,#e4582a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de4722', endColorstr='#e4582a',GradientType=0 ); /* IE6-9 */
		-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 #bb3818, 0 2px 3px rgba(25,25,25,.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 #bb3818, 0 2px 3px rgba(25,25,25,.4);
	-ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 #bb3818, 0 2px 3px rgba(25,25,25,.4);
	-o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 #bb3818, 0 2px 3px rgba(25,25,25,.4);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 #bb3818, 0 2px 3px rgba(25,25,25,.4);
	text-shadow: 1px 1px 0 rgba(52, 52, 52, 0.2);
}

#register a:active{
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5) inset;
	-ms-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5) inset;
	-o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5) inset;
	text-shadow: -1px -1px 0 rgba(52, 52, 52, 0.2);
}

#register a:before{
	content: ' ';
	position: absolute;
	width: 20px;
	height: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	background: #d3431a url(../../images/login/arrow.png) no-repeat center center;
	-moz-box-shadow: inset 0 1px 0 rgba(52,52,52,.5), 0 1px 0 rgba(255,255,255,.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(52,52,52,.5), 0 1px 0 rgba(255,255,255,.5);
	-ms-box-shadow: inset 0 1px 0 rgba(52,52,52,.5), 0 1px 0 rgba(255,255,255,.5);
	-o-box-shadow: inset 0 1px 0 rgba(52,52,52,.5), 0 1px 0 rgba(255,255,255,.5);
	box-shadow: inset 0 1px 0 rgba(52,52,52,.5), 0 1px 0 rgba(255,255,255,.5);
	left: 9px;
	top: 4px;
}

#register a:active:before{
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 2px 0 rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 2px 0 rgba(0,0,0,.3);
	-ms-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 2px 0 rgba(0,0,0,.3);
	-o-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 2px 0 rgba(0,0,0,.3);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 2px 0 rgba(0,0,0,.3);
	top: 3px;
}

.left{
	float: left;
}

.triangle{
	position: relative;
}	

.triangle:before, .triangle:after{
	content: ' ';
	position: absolute;
	height: 0;
	width: 0;
	border-top: 12px solid #fff;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}

.input-pass{
	position: relative;
}

.warning-msg{
	position: absolute;
	display: block;
	bottom: 0;
	width: 190px;
	background: #e8563b;
	font-size: 1.5em;
	padding: .5em 1em;
	color: #fff;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(200%);
	-ms-transform: translateX(-50%) translateY(200%);
	-o-transform: translateX(-50%) translateY(200%);
	transform: translateX(-50%) translateY(200%);
	opacity: 0;
	-webkit-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

.show-msg{
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(100%);
	-ms-transform: translateX(-50%) translateY(100%);
	-o-transform: translateX(-50%) translateY(100%);
	transform: translateX(-50%) translateY(100%);
}

.warning-msg::before{
	content: ' ';
	position: absolute;
	border: .7em solid transparent;
	border-bottom-color: #e8563b;
	top: -1.2em;
	left: 1.5em;
}
