/**
 *  \details &copy; 2011  Open Ximdex Evolution SL [http://www.ximdex.org]
 *
 *  Ximdex a Semantic Content Management System (CMS)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published
 *  by the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  See the Affero GNU General Public License for more details.
 *  You should have received a copy of the Affero GNU General Public License
 *  version 3 along with Ximdex (see LICENSE file).
 *
 *  If not, visit http://gnu.org/licenses/agpl-3.0.html.
 *
 *  @author Ximdex DevTeam <dev@ximdex.com>
 *  @version $Revision$
 */


@import "../../../../xmd/style/jquery/ximdex_theme/widgets/themes/ximdex_theme";
@import "../../../../xmd/style/jquery/ximdex_theme/widgets/themes/extends";
@import "../../../../xmd/style/jquery/ximdex_theme/widgets/themes/icons";


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
	font-size: 62.5%;
}

body {
	//font-family: 'Ubuntu Condensed', Verdana, Arial, Geneva, sans-serif  !important;
	font-family: $t_text;
	background-color: #006b6c;
	color: #6b6b6b;
	overflow: hidden;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

strong{
	font-weight: 600;
}


/*------------------------------------*\
	$Splash
\*------------------------------------*/

	#ximdex-splash {
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 9;
		width: 100%;
		height: 100%;
		background-color: #fff;
		background: url(../../../../xmd/images/browser/splash/watermark.png) no-repeat right bottom,
					url(../../../../xmd/images/browser/splash/bg-pattern-net.png) repeat left top, #fff;
		overflow: auto;
      -webkit-animation: fadeout 3s ease-in; /* Chrome, Safari, Opera */
      animation: fadeout 3s ease-in;
      visibility: hidden;
      opacity: 0;
      diplay: none;
	}
@-webkit-keyframes fadeout {
  0% {visibility: visible; opacity: 1; display: block;}
  50% {visibility: visible; opacity: 1; display: block;}
  100% {visibility: hidden; opacity: 0; display: none;}
}
@keyframes fadeout {
  0% {visibility: visible; opacity: 1; display: block;}
  50% {visibility: visible; opacity: 1; display: block;}
  100% {visibility: hidden; opacity: 0; display: none;}
}


	#ximdex-splash .loading{
		width: 98%;
		height: 22px;
		margin: 15px 1%;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		border: 1px solid #4f4f4f;
		overflow: hidden;

	}

	.loading p{
		color: #9ac7c8;
		text-shadow: 0 1px 0 #252525;
		position: absolute;
		top: 17px;
		left: 25px;
		font-size: 14px;
		font-size: 1.4rem;
	}



	.loading .progress{
		-moz-box-shadow: 0 1px 0 #9c9c9c inset;
		-webkit-box-shadow: 0 1px 0 #9c9c9c inset;
		box-shadow: 0 1px 0 #9c9c9c inset;
		display: inline-block;
		height: inherit;
		background: #4f4f4f url(../../../../xmd/images/browser/splash/bg-pattern-grey.png) repeat;
		max-width: 100%;
        width: 100%;
        -webkit-animation: loadingBar 2s ease-out; /* Chrome, Safari, Opera */
        animation: loadingBar 2s ease-out;
	}

    @-webkit-keyframes loadingBar {
      0%   {width: 0%;}
      100% {width: 100%;}
    }
    @keyframes loadingBar {
        0%   {width: 0%;}
        100% {width: 100%;}
    }
	.ximdex_splash_content {

		width: 80%;
		margin: 5.625em auto;
	}
	.ximdex_splash_content h2{

		font-family: Coustard, serif;
		font-size: 25px;
		font-size: 2.5rem;
		text-transform: none;
		text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6), 0 -1px 0 rgba(0, 0, 0, 0.4), 0 -2px 1px rgba(0, 0, 0, 0.1), 0 0 2px #FFFFFF;
		margin: 0 0 0.72em 2%;
		color: #898989;
	}

	.ximdex_splash_content li{
		list-style: none;
		width: 50%;
		padding: 4px 2% 15px;
		font-size: 16px;font-size: 1.6rem;
		line-height: 1.4;
		color: #9f9f9f;
	}




	.ximdex_splash_content strong{
		font: normal 1em Coustard;
		font-size: 20px;
		font-size: 2rem;
		display: block;
		background: url(../../../../xmd/images/browser/splash/dots.png) no-repeat left center;
		padding: 0.6em 0 4px 3em;
		border-top: 1px solid #d9d9d9;
		-moz-box-shadow: 0 2px 0 #fff inset;
		-webkit-box-shadow: 0 2px 0 #fff inset;
		box-shadow: 0 2px 0 #fff inset;
		color: #626262;
	}

	.ximdex_splash_content li:first-child strong{
		border-top: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.ximdex_splash_content .more{
		text-align: right;
		width: 50%;
		margin-top: 45px;
	}
	.more a{
		background: #6d6d6d;
		color: #E4E4E4;
	    font-family: Coustard,serif;
	    padding: 7px 12px 5px;
	    text-transform: uppercase;
	    -moz-border-radius: 12px;
	    -webkit-border-radius: 12px;
	    border-radius: 12px;
	    text-shadow: 0 1px 0 #252525;
		font-size: 10px;
		font-size: 1rem;

	}


	.more a:hover{
		background: #484848;
	}

	button::-moz-focus-inner{
		border: 0px;
	}


/*------------------------------------*\
	$LAYOUT
\*------------------------------------*/

	#header {
		background: url('../../../../xmd/images/header/cabecera_fnd.png') repeat left top;
		height: 38px;
		/*float: left;*/

		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
		box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
		border-top: 1px solid #006b6c;
		position: relative;
		z-index: 4;
	}

	#header h1{
		float: left;
		margin-top: 3px;
	}

	#body {
		position: absolute;
		top: 40px;
		bottom: 0px;
		width: 100%;
		margin: 0px;
	}

	#body .ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
		font-family: $t_text;

	}

	.browser-window {
		height: 100%;
	}

	.browser-window-content {
		height: 100%;
		width: 100%;
		margin: 0px;
	}

	.hidden{
			display:none !important;
	}
	.novisible{
		visibility: hidden;
	}


	.session-info{
		float: right;
		margin-right: 200px;
		font-size: 1.3rem;
		text-transform: uppercase;
		margin-top: 1.5em;
	}

	.session-info .language, .session-logout{
		display: inline-block;
		vertical-align: top;
		color: #e8e8e8;
		position: relative;
		margin-right: 1em;
		z-index: 2;
	}

	.login-name{
		position: relative;
		margin-right: .8em;
		display: inline-block;
		width: 3.5em;
		height: 3em;
	}

	.current-language{
		position: relative;
		top: -.7em;
		color: $c_mainlight;	
		font-weight: bold;
		margin-right: .8em;
		display: inline-block;
		width: 3em;
		height: 3em;


		&::before{
			position: relative;
			top: .62em;
			color: #e8e8e8;
		}
		&::after{
			position: absolute;
			font-size: 1.5em;
			z-index: -1 !important;
			margin-left: -0.85em;
			color: #e8e8e8;
			margin-top: -0.10em;
		}
	}
		
	.user-menu{
		display: none;
		white-space: nowrap;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		text-transform: none;
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
		z-index: 4;
		background:#474850;
		color: $c_grey-p;
		min-width: 13em;

		>ul>li{
			

			border-bottom: 1px solid #5f606a;

			&:first-child{
				box-shadow: inset 0 -1px 0  #36373e;
				a{
					border-bottom: 1px solid #5f606a;
				}
			}

			&:last-child{
				border-bottom: none;
			}

			&::before{
				font-family: 'ximdex-icon';
				color: #fff;
				position: absolute;

				font-size: 2rem;
				top: .5em;
				left: .5em;
			}

			&.language-icon::before{
				content: '\6c';
				font-size: 1.4rem;
				top: 1em;
				left: 1em;
			}
			&.config::before{
				content: '\e02a';
				font-size: 2.4rem;
				top: .4em;
				left: .3em;
			}
			&.help::before{
				content: '\e61e';
			}
			&.contact::before{
				content: '\e60b';
			}
			&.logout::before{
				content: '\e61f';
				font-size: 1.95rem;
				top: .6em;
				left: .6em;
			}
			
		}

		li{
			cursor: pointer;
			position: relative;

			&.selected::before{
				@extend %icon;
				@extend %tic;

				position: absolute;
				left: 1em;
			}
		}
		li a{
			color: #fff;
			padding: 1em 1.5em 1em 3em;
			display:  block;
			position: relative;

			&:hover{
				color: $c_mainlight;
			}
		}

		li ul li{
			color: $c_grey-p;
			&:hover{
				color: $c_mainlight;
			}
		}


		
		.selected{
			&::before{
				color: $c_mainlight;
			}
		}


		&::before{
			content: '';
			display: block;
			position: absolute;
			border: 6px solid transparent;
			border-bottom-color: #474850;
			top: -12px;
			left: 1em;
		}


	}

	.menu-header:hover + .user-menu, .user-menu:hover{
		display: block;
		position: absolute;
		top: 2em;
		left: -1em;
	}

	.selector_language{
		li{
			display: inline-block;
			padding: .8em 1.4em .8em 1.6em;

			&.selected{
				padding-left: 2.9em;
			}
		}

		.selected{
			background: #36373e;
		}
	}
.angular-panel {
	box-sizing: border-box;
	padding: 7px 0;
}
.test-box {
	background: white;
	width: 100%;
	height: 100%;
}

#angular-tree {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 270px;
    overflow: auto;
    padding-left: 7px;
}
#angular-content {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 280px;
    right: 0;
    overflow: hidden;
    color: #FFF;
    padding-right: 7px;
}

#angular-content > .hbox-panel > .tabs-container > ul.ui-tabs-nav{
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  -ms-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
  /*width: 100%;*/
  position: absolute;
  left: 0px;
  height: 41px;
}
#angular-content > .hbox-panel > .tabs-container > ul.ui-tabs-nav > li{
  padding:0;
  height: 40px;
  word-wrap: normal;
}
#angular-content > .hbox-panel > .tabs-container > ul.ui-tabs-nav > li.hide{
  visibility: hidden;
}
#angular-content > .hbox-panel > .tabs-container > ul.ui-tabs-nav > li.ng-enter{
  top: 50px;
  -webkit-transition: top .3s;
  -moz-transition: top .3s;
  -ms-transition: top .3s;
  -o-transition: top .3s;
  transition: top .3s;
}
#angular-content > .hbox-panel > .tabs-container > ul.ui-tabs-nav > li.ng-enter.ng-enter-active{
  top: 1px;
}

#angular-content > .hbox-panel > .tabs-container > ul.ui-tabs-nav > li.ng-leave{
  -webkit-animation:.5s closeTab;
  -moz-animation:.5s closeTab;
  -o-animation:.5s closeTab;
  animation:.5s closeTab;
  overflow: hidden;
  max-width: 400px
}

@-webkit-keyframes closeTab {
  0%   {top:1px;}
  50%  {top:50px;}
  100% {top:50px; max-width: 0px}
}

@-moz-keyframes closeTab {
  0%   {top:1px;}
  50%  {top:50px;}
  100% {top:50px; max-width: 0px}
}

@-o-keyframes closeTab {
  0%   {top:1px;}
  50%  {top:50px;}
  100% {top:50px; max-width: 0px}
}

@keyframes closeTab {
  0%   {top:1px;}
  50%  {top:50px;}
  100% {top:50px; max-width: 0px}
}

#angular-tree-resizer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 270px;
    width: 7px;
    cursor: e-resize;
}
.nav-tabs {
	width: 100% !important;
}
.angular-tree {
  padding-left: 17px;
  padding-bottom: 15px;
  padding-right: 10px;
  ul {
    margin-left: 15px;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hideable{
  -moz-transition: width .4s;
  -webkit-transition: width .4s;
  -o-transition: width .4s;
  transition: width .4s;
  -moz-transition: left .4s;
  -webkit-transition: left .4s;
  -o-transition: left .4s;
  transition: left .4s;
}