/**
 *  \details &copy; 2011  Open Ximdex Evolution SL [http://www.ximdex.org]
 *
 *  Ximdex a Semantic Content Management System (CMS)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published
 *  by the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  See the Affero GNU General Public License for more details.
 *  You should have received a copy of the Affero GNU General Public License
 *  version 3 along with Ximdex (see LICENSE file).
 *
 *  If not, visit http://gnu.org/licenses/agpl-3.0.html.
 *
 *  @author Ximdex DevTeam <dev@ximdex.com>
 *  @version $Revision$
 */



/*
colores utilizados: #FAFAFA, #E5E5E5

*/
body{
	background-color : #ffffff;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}
a{
	text-decoration : none;
}
h1{
	margin: 0px;
	font-weight: normal;
}
h2{
	margin: 0px;
	font-weight: normal;
}
h3{
	margin: 0px;
	font-weight: normal;
}
h4{
	margin: 0px;
	font-weight: normal;
}
h5{
	margin: 0px;
	font-weight: normal;
}

.normal{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
}
.normalcentrado{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	text-align: center;
}
.cursiva{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #000000;
	font-style: italic;
}
.normaltabla{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
}
.textojustificado{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #000000;
	text-align: justify;
}
.normalazul{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #004A80;
}
.entradilla{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #004A80;
}

.textoderecha{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #000000;
	text-align : right;
}
.textocursiva{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-style: italic;
}
.textonegritacursiva{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-style: italic;
	font-weight: bold;
}
.textonegritasubrayadocursiva{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
}
.normalgris{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #8E8E8E;
}
.normalblanco{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #ffffff;
}
p{
	margin-right: 5px;
	margin-left: 5px;
}
.textonegrita{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #000000;
	font-weight : bold;
}
.textonegritasubrayado{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #000000;
	font-weight : bold;
	text-decoration: underline;
}
.textosubrayado{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #000000;
	text-decoration: underline;
}
.enlace{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #000000;
}
a.enlace:hover{
	text-decoration : underline;
}
.enlaceblanco{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #ffffff;
}
a.enlaceblanco:hover{
	text-decoration : underline;
}
.enlacegrande{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #000000;
}
a.enlacegrande:hover{
	color : #818181;
	text-decoration : underline;
}
.enlacenegrita{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #000000;
	font-weight : bold;
}
.enlacenegritasubrayado{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #000000;
	font-weight : bold;
	text-decoration: underline;
}
.enlacenegritasubrayadocursiva{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #000000;
	font-weight : bold;
	text-decoration: underline;
	font-style: italic;
}
a.enlacenegrita:hover{
	color : #818181;
	text-decoration : underline;
}
.enlacenegritagrande{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	color: #000000;
	font-weight : bold;
}
a.enlacenegritagrande:hover{
	color : #818181;
	text-decoration : underline;
}
.enlacegris{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #969595;
}
a.enlacegris:hover{
	color: #6F6F6F;
	text-decoration : underline;
}
.cabecera{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	color: #595959;
	font-weight : bold;
}
.subtitulo{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #004A80;
	font-weight : bold;
	margin-top: 6px;
}

.tabla{
	border : thin;
	border-color : #E5E5E5;
	border-style : solid;
	border-width : 1px;
	background-color : #FAFAFA;
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	}
.tablasencilla{
	border : thin;
	border-color : #E5E5E5;
	border-style : solid;
	border-width : 1px;
	}
.tablablanca{
	border : thin;
	border-color : #FFFFFF;
	border-style : solid;
	border-width : 1px;
	background-color : #FFFFFF;
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
}
.tablasinborde{
border : thin;
	border-color :#FAFAFA;
	border-style : solid;
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #000000;
	background-color :#FAFAFA;
	
}

.cajamenu{
	border : thin;
	border-color : #7E7E7E;
	border-style : solid;
	border-width : 1px;
	background-color : #E4E3E3;
	
}

p{
	margin-right : 10px;
	text-align : justify;
	margin-bottom : -5px;
}
.caja{
		border : thin;
	border-color : #E5E5E5;
	border-style : solid;
	border-width : 1px;
	background-color : #ffffff;
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	width : 190px;
}
.cajap{
	border : thin;
	border-color : #E5E5E5;
	border-style : solid;
	border-width : 1px;
	background-color : #ffffff;
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	width : 30px;
}
.subtituloderecha{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #004A80;
	font-weight : bold;
	text-align : right;
	margin-top: 6px;
}
.subtitulocentro{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #004A80;
	font-weight : bold;
	text-align : center;
	margin-top: 6px;
}
.enlacetexto{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #000000;
}
a.enlacetexto:hover{
	background-color : #7E7E7E;
	color : #ffffff;
}
.titulonoticia{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 9pt;
	color: #004A80;
	font-weight : bold;
}
.subtitulonoticia{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #004A80;
	margin-top: 6px;
}
.solapa{
	border: 0px;
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #000000;
	font-weight : bold;
}
.cabeceratabla{
	border : thin;
	border-color : #006699;
	border-style : solid;
	border-width : 1px;
	background-color : #006699;
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #FAFAFA;
	font-weight : bold;
	vertical-align : middle;
	text-align : center;
	
	}
.cabeceratablag{
	border : thin;
	border-color : #E5E5E5;
	border-style : solid;
	border-width : 1px;
	background-color : #006699;
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	color: #FAFAFA;
	font-weight : bold;
	vertical-align : middle;
	text-align : center;
	
	}
.filaclara{
	background-color : #FAFAFA;
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #000000;
}
.filaclaranegrita{
	background-color : #FAFAFA;
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #000000;
	font-weight: bold;
}
.filaclaracentro{
	background-color : #FAFAFA;
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #000000;
	text-align : center;
}
.filaoscura{
	background-color : #EDEAEA;
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #000000;
}
.filaoscuranegrita{
	background-color : #EDEAEA;
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #000000;
	font-weight: bold;
}
.filaoscuracentro{
	background-color : #EDEAEA;
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #000000;
	text-align : center;
}
.destacada{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #B8429B;
}

.cabeceratablagris{
	border : thin;
	border-color : #E5E5E5;
	border-style : solid;
	border-width : 1px;
	background-color : #FAFAFA;
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #004A80;
	font-weight : bold;
	vertical-align : middle;
}
.caja{
	border: thin;
	border-style: solid;
	border-width: 1px;
	border-color: #3E3E3E;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #3D3D3D;
	width: 120px;
}








