/**
 *  \details &copy; 2011  Open Ximdex Evolution SL [http://www.ximdex.org]
 *
 *  Ximdex a Semantic Content Management System (CMS)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published
 *  by the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  See the Affero GNU General Public License for more details.
 *  You should have received a copy of the Affero GNU General Public License
 *  version 3 along with Ximdex (see LICENSE file).
 *
 *  If not, visit http://gnu.org/licenses/agpl-3.0.html.
 *
 *  @author Ximdex DevTeam <dev@ximdex.com>
 *  @version $Revision$
 */


a.normalazul:hover{
	text-decoration: underline;
}
.normalazulnegrita{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #004A80;
	font-weight : bold;
}
.normalazulnegritaderecha{
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #004A80;
	font-weight : bold;
	margin-top: 4px;
	text-align: right;
}
a.normalazulnegrita:hover{
	text-decoration: underline;
}
.tablaazul{
	border : thin;
	border-color : #E5E5E5;
	border-style : solid;
	border-width : 1px;
	background-color : #FAFAFA;
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #004A80;
	font-weight : bold;
	height : 19px;
	vertical-align : middle;
	}
.tablasinbordeazul{
	border : thin;
	border-color :#FAFAFA;
	border-style : solid;
	border-width : 0px;
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #004A80;
	background-color :#FAFAFA;
	
}
.cajamenuministerio{
	border : thin;
	border-color : #7E7E7E;
	border-style : solid;
	border-width : 1px;
	background-color : #e8e8e8;
}
.cajamenuservicios{
	border : thin;
	border-color : #7E7E7E;
	border-style : solid;
	border-width : 1px;
	background-color : #7e7e7e;
	color : #ffffff;
}
.cajamenuorganismos{
	border : thin;
	border-color : #7E7E7E;
	border-style : solid;
	border-width : 1px;
	background-color : #afafaf;
}
.cajag{
	border: thin;
	border-style: solid;
	border-width: 1px;
	border-color: #3E3E3E;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #3D3D3D;
	width: 200px;
}
.cajam{
	border: thin;
	border-style: solid;
	border-width: 1px;
	border-color: #3E3E3E;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #3D3D3D;
	width: 170px;
}
.cajaxg{
	border : thin;
	border-color : #E0DFE3;
	border-style : solid;
	border-width : 1px;
	background-color : #E0DFE3;
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	width : 350px;
}
.cajap{
	border : thin;
	border-color : #E5E5E5;
	border-style : solid;
	border-width : 1px;
	background-color : #ffffff;
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	width : 30px;
}