<div class="modal-header">
    <h3 class="modal-title">Enter a name</h3>
</div>
<div class="modal-body">
    <alert ng-if="error" type="danger">There is a filter with the same name on the system. Please, type another name for it.</alert>
    <div class="form-group">
        <input type="text" ng-model="name" class="form-control" placeholder="Write a name for the filter">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>