<div class="noselect" hm-doubletap="toggleNode(node,$event)" hm-press="loadActions(node,$event)" hm-tap="select(node,$event)" ng-right-click="loadActions(node,$event)" ng-class="{'xim-treeview-container-selected': (node | nodeSelected: selectedNodes)}">
  	<span
  		ng-if="node.children"
  		class="ui-icon xim-actions-toggle-node ui-icon-triangle-1-e"
  		ng-class="{'ui-icon-triangle-1-se': node.showNodes}"
  		hm-tap="toggleNode(node,$event)">
  	</span>

  	<span class="xim-treeview-icon icon-#/::node.icon/#"></span>
  	<span class="xim-treeview-branch" ng-bind-html="::node.name"></span>
</div>

<ul class="xim-treeview-branch" ng-show="node.showNodes">
	<li ng-repeat="node in node.collection track by (node.nodeid + node.nodeFrom + '_' + node.nodeTo)" 
			static-include="assets/js/angular/templates/tree_item_renderer.html" class="xim-treeview-node xim-treeview-expanded"></li>
</ul>

<ul class="xim-treeview-loading" id="treeloading-undefined" ng-show="node.showNodes && node.loading">
  <li><img src="assets/images/browser/hbox/loading.gif"></li>
</ul>