/**************
// VARIABLES
***************/
/* HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4;
  height: 100%; }

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  height: 100%;
  font-family: "Open Sans", sans-serif; }

ul {
  list-style: none;
  padding-left: 0; }

h1 {
  padding-left: .6em;
  margin-top: 1.65em;
  font-family: 'social_icons';
  font-size: 2.5em;
  font-weight: normal;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  h1 a, h1 a:visited, h1 a:hover {
    color: #e6e7f1; }

p {
  color: #767987; }

a {
  text-decoration: none; }

.aside {
  width: 25%;
  background: #4c4d57;
  -webkit-box-shadow: inset -3px 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset -3px 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset -3px 0 1px rgba(0, 0, 0, 0.2);
  color: #e6e7f1;
  height: 100%;
  display: inline-block;
  position: fixed; }

button {
  background: none;
  border: 0; }

.installer_step {
  position: relative;
  margin: .8em 0; }
  .installer_step::before {
    position: absolute;
    width: 1.25em;
    height: 1.25em;
    background: #404149;
    color: #1eca84;
    font-family: 'social_icons';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    line-height: 1.2;
    font-size: 1.25em;
    left: 1.5em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.installer_step-current {
  background: #e6e7f1;
  position: relative;
  z-index: 3;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.4); }
  .installer_step-current span {
    color: #4c4d57; }
  .installer_step-current::before {
    content: "";
    background: none;
    border: 0.3em solid #585965;
    width: .65em;
    height: .65em; }
  .installer_step-current::after {
    content: "";
    /*border: 1.7em solid transparent;
    border-left-color: $c-light;*/
    width: 2.4em;
    height: 2.4em;
    background: #e6e7f1;
    position: absolute;
    right: -1.2em;
    top: .5em;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.17);
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.17);
    /* -webkit-filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.2));
     -moz-filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.2));
     -ms-filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.2));
     -o-filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.2));
     filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.2));*/ }

.installer_step-launcher {
  display: block;
  width: 100%;
  padding: 1em 1.5em 1em 4.5em;
  font-family: "Coustard", serif;
  color: #e6e7f1;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.icon_btn {
  width: 2em;
  height: 2em;
  display: inline-block;
  zoom: 1;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background: #1eca84;
  margin-right: .5em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
  .icon_btn:hover {
    background: #50e5a8; }
  .icon_btn a::before {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'social_icons';
    display: block;
    text-indent: 0;
    color: #494a57;
    font-size: 2.2em;
    left: 0;
    top: 0;
    line-height: .9;
    text-shadow: 0 1px rgba(0, 0, 0, 0.5); }

.social {
  text-align: center;
  position: absolute;
  bottom: 2.5em;
  width: 100%; }

.content {
  height: 100%;
  display: inline-block;
  width: 75%;
  vertical-align: top;
  padding: 4em 5em;
  margin-left: 25%; }
  .content p {
    padding-bottom: 1em; }
  .content form {
    padding-bottom: 3em; }

.step-modules-installed {
  -webkit-box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden; }
  .step-modules-installed::after {
    content: '';
    display: block;
    background: url(../../images/installer/ximdex_cms.png) no-repeat center top;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    width: 100%;
    height: 100%; }

h2 {
  font-family: "Coustard", serif;
  color: #1eca84;
  margin-bottom: 1.9em; }

.action_launcher {
  background: #1eca84;
  color: #cbfbe7;
  text-transform: uppercase;
  padding: .6em 5em;
  font-weight: 600;
  border: 1px solid #15bb77;
  -webkit-box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.17);
  -moz-box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.17);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  font-size: 0.88em;
  display: inline-block; }
  .action_launcher:hover, .action_launcher:focus {
    background: #50e5a8;
    border-color: #34e89f; }
  .action_launcher:focus {
    -webkit-box-shadow: 0 0 4px 2px #1eca84, inset 0 1px 2px rgba(255, 255, 255, 0.17);
    -moz-box-shadow: 0 0 4px 2px #1eca84, inset 0 1px 2px rgba(255, 255, 255, 0.17);
    box-shadow: 0 0 4px 2px #1eca84, inset 0 1px 2px rgba(255, 255, 255, 0.17); }

.footer {
  position: absolute;
  bottom: 0;
  background: #383943;
  width: 100%;
  text-align: center;
  padding: .5em; }
  .footer a {
    color: #e6e7f1; }
    .footer a:hover {
      color: #1eca84; }

/**************
// DATABASE page
***************/
.form_item {
  display: inline-block;
  width: 46%;
  margin-bottom: 3em; }
  .form_item:nth-of-type(odd) {
    margin-right: 7%; }
  .form_item label {
    display: block;
    font-family: "Coustard", serif;
    color: #5f6283;
    font-size: 14px;
    padding-bottom: .8em; }
  .form_item input[type="text"], .form_item input[type="password"], .form_item select {
    width: 100%;
    border: none;
    background: #d9daea;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #323659; }
  .form_item input[type="checkbox"] {
    margin-right: .5em; }

.form_item--information {
  margin-bottom: 1em;
  top: -1.5em;
  position: relative; }

.form_item--user {
  padding-bottom: 1.5em; }
  .form_item--user::before {
    content: "\e605";
    font-family: 'social_icons';
    float: left;
    font-size: 2em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    text-align: center;
    margin-right: .5em;
    vertical-align: middle;
    background: #4c4d57;
    color: #1eca84;
    line-height: 1.9; }
  .form_item--user label {
    color: #1eca84;
    padding-bottom: 0;
    padding-top: .6em; }
  .form_item--user .user {
    font-weight: bold;
    color: #4c4d57;
    font-size: 1.7em;
    line-height: 1; }

.full-width {
  width: 100%; }
  .full-width ~ .form_item:nth-of-type(even) {
    margin-right: 7%; }
  .full-width ~ .form_item:nth-of-type(odd) {
    margin-right: 0; }

::-webkit-input-placeholder {
  font-style: italic;
  color: #6f7396; }

:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
  color: #6f7396; }

::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
  color: #6f7396; }

:-ms-input-placeholder {
  font-style: italic;
  color: #6f7396; }

/**************
// MODULES page
***************/
li[class*="module"] {
  position: relative;
  padding-left: 8.5em;
  margin-bottom: 3em; }
  li[class*="module"] p {
    padding-bottom: 0;
    margin: 0; }
  li[class*="module"]::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 3px solid #b0b3cf;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: .7em;
    height: .7em;
    left: 0;
    background: #fff;
    z-index: 2; }
  li[class*="module"]::after {
    content: "";
    width: .2em;
    height: calc(100% + 3em);
    top: 50%;
    position: absolute;
    background: #4c4d57;
    opacity: .4;
    left: .45em; }
  li[class*="module"]:last-child::after {
    content: none; }
  li[class*="module"] .title {
    display: block;
    font-family: "Coustard", serif;
    color: #8a8b99; }
    li[class*="module"] .title::before {
      content: "";
      position: absolute;
      width: 3em;
      height: .2em;
      left: 1em;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      background: #4c4d57;
      opacity: .4; }
    li[class*="module"] .title::after {
      content: "";
      position: absolute;
      width: 4em;
      height: 4em;
      background: #d1d3e7 url(../../images/installer/modules.svg) no-repeat center 0.2em;
      -webkit-background-size: 150%;
      background-size: 150%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      left: 3em;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
    li[class*="module"] .title.ximTOUR::after {
      background-position: center -15em;
      -webkit-background-size: 130%;
      background-size: 130%; }
    li[class*="module"] .title.ximNEWS::after {
      background-position: center -10em;
      -webkit-background-size: 130%;
      background-size: 130%; }
    li[class*="module"] .title.xlyre::after {
      background-position: center -6.7em;
      -webkit-background-size: 170%;
      background-size: 170%; }

.module-installed::before, .module-already::before {
  background: #4c4d57 !important;
  border-color: #4c4d57 !important; }
.module-installed .title, .module-already .title {
  color: #4c4d57 !important; }

.module-installing::before {
  border-color: #1eca84 !important;
  border-top-color: #b0b3cf !important;
  -webkit-animation: rotate .8s linear infinite;
  -o-animation: rotate .8s linear infinite;
  animation: rotate .8s linear infinite;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0) translateY(-50%);
    -moz-transform: rotate(0) translateY(-50%);
    -ms-transform: rotate(0) translateY(-50%);
    -o-transform: rotate(0) translateY(-50%);
    transform: rotate(0) translateY(-50%); }

  to {
    -webkit-transform: rotate(359deg) translateY(-50%);
    -moz-transform: rotate(359deg) translateY(-50%);
    -ms-transform: rotate(359deg) translateY(-50%);
    -o-transform: rotate(359deg) translateY(-50%);
    transform: rotate(359deg) translateY(-50%); } }
@-o-keyframes rotate {
  from {
    -webkit-transform: rotate(0) translateY(-50%);
    -moz-transform: rotate(0) translateY(-50%);
    -ms-transform: rotate(0) translateY(-50%);
    -o-transform: rotate(0) translateY(-50%);
    transform: rotate(0) translateY(-50%); }

  to {
    -webkit-transform: rotate(359deg) translateY(-50%);
    -moz-transform: rotate(359deg) translateY(-50%);
    -ms-transform: rotate(359deg) translateY(-50%);
    -o-transform: rotate(359deg) translateY(-50%);
    transform: rotate(359deg) translateY(-50%); } }
@-moz-keyframes rotate {
  from {
    -webkit-transform: rotate(0) translateY(-50%);
    -moz-transform: rotate(0) translateY(-50%);
    -ms-transform: rotate(0) translateY(-50%);
    -o-transform: rotate(0) translateY(-50%);
    transform: rotate(0) translateY(-50%); }

  to {
    -webkit-transform: rotate(359deg) translateY(-50%);
    -moz-transform: rotate(359deg) translateY(-50%);
    -ms-transform: rotate(359deg) translateY(-50%);
    -o-transform: rotate(359deg) translateY(-50%);
    transform: rotate(359deg) translateY(-50%); } }
@keyframes rotate {
  from {
    -webkit-transform: rotate(0) translateY(-50%);
    -moz-transform: rotate(0) translateY(-50%);
    -ms-transform: rotate(0) translateY(-50%);
    -o-transform: rotate(0) translateY(-50%);
    transform: rotate(0) translateY(-50%); }

  to {
    -webkit-transform: rotate(359deg) translateY(-50%);
    -moz-transform: rotate(359deg) translateY(-50%);
    -ms-transform: rotate(359deg) translateY(-50%);
    -o-transform: rotate(359deg) translateY(-50%);
    transform: rotate(359deg) translateY(-50%); } }
.module-error::before {
  border-color: #ec3719 !important; }
.module-error .title {
  color: #ec3719 !important; }

.module-installed .ximTOUR::after, .module-already .ximTOUR::after {
  background-color: #57e3aa !important; }
.module-installed .ximTAGS::after, .module-already .ximTAGS::after {
  background-color: #ff684f !important; }
.module-installed .ximNEWS::after, .module-already .ximNEWS::after {
  background-color: #10e2ea !important; }
.module-installed .xlyre::after, .module-already .xlyre::after {
  background-color: #e5dc1e !important; }

/**************
// ERRORS
***************/
.error, .warning, .errors {
  padding-bottom: 0 !important;
  position: relative;
  font-weight: bold; }
  .error::before, .warning::before, .errors::before {
    content: "!";
    display: inline-block;
    width: 1.375em;
    height: 1.375em;
    text-align: center;
    font-weight: bold;
    border: 3px solid #ccc;
    color: #f0bb29;
    border-color: #f0bb29;
    margin-right: .5em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    line-height: 1.4;
    position: relative;
    z-index: 2; }

.error::before, .errors::before {
  font-family: 'social_icons';
  content: "\e606";
  color: #e46666;
  border-color: #e46666; }

.error + .desc, .error--inline {
  margin-left: calc(1.375em + .5em);
  background: #e6e7f1;
  padding: .5em .8em;
  margin-top: 0;
  display: inline-block; }

.errors {
  text-align: center; }

.error_element {
  border: 1px solid #e05050 !important;
  background: #f7d2d2 !important; }

.overwrite {
  position: relative;
  top: 1em;
  margin: 0 0 -.8em 0;
  padding-bottom: .5em !important;
  border: 1px solid #d6d7e8; }
  .overwrite::after {
    content: "";
    position: absolute;
    width: .8em;
    height: .8em;
    -webkit-box-shadow: 1px -2px 0 #d6d7e8;
    -moz-box-shadow: 1px -2px 0 #d6d7e8;
    box-shadow: 1px -2px 0 #d6d7e8;
    /*  border: .8em solid transparent;
       border-bottom-color: #e6e7f1;*/
    top: -.3em;
    left: 1.3em;
    background: #e6e7f1;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

/**************
// ICONS
***************/
@font-face {
  font-family: 'social_icons';
  src: url("../../fonts/social_icons.eot");
  src: url("../../fonts/social_icons.eot?#iefix") format("embedded-opentype"), url("../../fonts/social_icons.ttf") format("truetype"), url("../../fonts/social_icons.woff") format("woff"), url("../../fonts/social_icons.svg#social_icons") format("svg");
  font-weight: normal;
  font-style: normal; }
.twitter_btn::before {
  content: "\e600"; }

.facebook_btn::before {
  content: "\e601"; }

.google_btn::before {
  content: "\e602"; }

.installer_step-completed::before {
  content: "\e604"; }
