    /**************
    // VARIABLES
    ***************/

    $c-dark: #4c4d57;
    $c-main: #1eca84;
    $c-mainlight: #cbfbe7;
    $c-light: #e6e7f1;
    $c-footer:#383943;
    $c-text:#767987;

    $t-title: 'Coustard', serif;

    $t-text: 'Open Sans', sans-serif;


/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}

div{

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


    body{
       
        height: 100%;
        font-family: $t-text;
    }

   ul{
    list-style: none;
    padding-left: 0;
   }


    h1{
        padding-left: .6em;
        margin-top: 1.65em;
        font-family: 'social_icons';
        font-size: 2.5em;
        font-weight: normal;
        text-shadow: 0 1px 0 rgba(255,255,255,.2);
            /* Enable Ligatures ================ */
        -webkit-font-feature-settings: "liga";
        -moz-font-feature-settings: "liga=1";
        -moz-font-feature-settings: "liga";
        -ms-font-feature-settings: "liga" 1;
        -o-font-feature-settings: "liga";
        font-feature-settings: "liga";

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        a, a:visited, a:hover{
            color: $c-light;
        }
    }

    p{
        color: $c-text;
    }

    a{
        text-decoration: none;
    }

   .container{
   }

    .aside{
        width:25%;
        background:$c-dark;
        -webkit-box-shadow: inset -3px 0 1px rgba(0,0,0,.2);
        -moz-box-shadow: inset -3px 0 1px rgba(0,0,0,.2);
        box-shadow: inset -3px 0 1px rgba(0,0,0,.2);
        color: $c-light;
        height: 100%;
        display: inline-block;
        position: relative;
    }

    button{
        background: none;
        border: 0;
    }

    .installer_step{
        position: relative;
        margin: .8em 0;
         &::before{
            position: absolute;
            width: 1.25em;
            height: 1.25em;
            background:darken($c-dark, 5%);
            color: $c-main;
            font-family: 'social_icons';
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            text-align: center;
            line-height: 1.2;
            font-size: 1.25em;
            left: 1.5em;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            
        }        
    }

    .installer_step-current{
        background:$c-light;
        position: relative;
        z-index: 3;
        -webkit-box-shadow: 0 2px 1px rgba(0,0,0,.4);
        -moz-box-shadow: 0 2px 1px rgba(0,0,0,.4);
        box-shadow: 0 2px 1px rgba(0,0,0,.4);

        span{
            color: $c-dark;
        }


        &::before{
            content: "";
            background: none;
            border: .3em solid lighten($c-dark, 5%);
            width: .65em;
            height: .65em;  
        }

        &::after{
            content: "";
            border: 1.7em solid transparent;
            border-left-color: $c-light;
            position: absolute;
            right: -3.4em;
            top: 0;
            -webkit-filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.2));
            -moz-filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.2));
            -ms-filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.2));
            -o-filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.2));
            filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.2));

        }


    }

    .installer_step-launcher{
        display: block;
        width: 100%;
        padding: 1em 1.5em 1em 4.5em;
        font-family: $t-title;
        color: $c-light;
        text-align: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

    }

    .icon_btn{
        width: 2em;
        height: 2em;
        display: inline-block;
        zoom: 1;
        text-indent: 100%;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        background: $c-main;
        margin-right: .5em;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;

        &:hover{
            background:lighten($c-main, 15%);
        }

       a::before{
            position: absolute;
            width: 100%;
            height: 100%;
            font-family: 'social_icons';
            display: block;
            text-indent: 0;
            color: #494a57;
            font-size: 2.2em;
            left: 0;
            top: 0;
            line-height: .9;
            text-shadow: 0 1px rgba(0,0,0,.5);
        }
    }

    .social{
        text-align: center;
        position: absolute;
        bottom:2.5em;
        width: 100%;
    }

    .content{
       height: 100%;
       display: inline-block;
       width: 75%;
       vertical-align: top;
       padding: 4em 5em;

       p{
        padding-bottom: 1em;
       }
    }

    .step-modules-installed{

        -webkit-box-shadow: inset 0 -3px 3px rgba(0,0,0,.3);
        -moz-box-shadow: inset 0 -3px 3px rgba(0,0,0,.3); 
        box-shadow: inset 0 -3px 3px rgba(0,0,0,.3);
        position: relative;

        &::before{
           content: '';
           background:url(../../images/installer/ximdex_cms.png) no-repeat center top;
           -webkit-background-size: 90%; 
          background-size: 90%;
          position: absolute;
          top: 20em;
          bottom: 0;
          left: 0;
          right: 0;
        }
    }

    h2{
        font-family: $t-title;
        color: $c-main;
        margin-bottom: 1.9em;
    }

    .action_launcher{
        background:$c-main;
        color: $c-mainlight;
        text-transform: uppercase;
        padding: .6em 5em;
        font-weight: 600;
        border: 1px solid #15bb77;
        -webkit-box-shadow: inset 0 1px 2px rgba(255,255,255,.17);
        -moz-box-shadow: inset 0 1px 2px rgba(255,255,255,.17);
        box-shadow: inset 0 1px 2px rgba(255,255,255,.17);
        text-shadow: 0 1px 0 rgba(0,0,0,.2);
        font-size: 0.88em;
        display: inline-block;

        &:hover, &:focus{
        background:lighten($c-main, 15%);
        border-color:lighten(#15bb77, 15%);

        }

         &:focus{
           -webkit-box-shadow: 0 0 4px 2px rgba(30, 202, 132, 1), inset 0 1px 2px rgba(255,255,255,.17);
           -moz-box-shadow: 0 0 4px 2px rgba(30, 202, 132, 1), inset 0 1px 2px rgba(255,255,255,.17);
           box-shadow: 0 0 4px 2px rgba(30, 202, 132, 1), inset 0 1px 2px rgba(255,255,255,.17);
         }
    }


    .footer{
        position: absolute;
        bottom: 0;
        background:$c-footer;
        width: 100%;
        text-align: center;
        padding: .5em;
        a{
            color: $c-light;

            &:hover{
                color: $c-main;
            }
        }
    }



    /**************
    // DATABASE page
    ***************/    

    .form_item{
        display: inline-block;
        width: 46%;
        margin-bottom: 3em;


        &:nth-of-type(odd){
            margin-right: 7%;
        }

       
        label{
            display: block;
            font-family: $t-title;
            color: desaturate(darken(#e6e7f1, 48), 12);
            font-size: 14px;
            padding-bottom: .8em;
        }

        input{
            width: 100%;
            border: none;
            background:darken($c-light, 4%);
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: .5em 1em;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            color: darken($c-light,65%);
        }

        
    }

    .form_item--user{
        padding-bottom: 1.5em;
        &::before{
            content: "\e605";
            font-family: 'social_icons';
            float: left;
            font-size: 2em;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            width: 2em;
            height: 2em;
            text-align: center;
            margin-right: .5em;
            vertical-align: middle;
            background:$c-dark;
            color: $c-main;
            line-height: 1.9;   
        }

        label{
            color: $c-main;
            padding-bottom: 0;
            padding-top: .6em;
        }

        .user{
            font-weight: bold;
            color: $c-dark;
            font-size: 1.7em;
            line-height: 1;
        }
    }


    .full-width{
        width: 100%;

        ~ .form_item:nth-of-type(even){
            margin-right: 7%;
        } 
        ~ .form_item:nth-of-type(odd){
            margin-right: 0;
        }


    }

    ::-webkit-input-placeholder {
            font-style: italic;
            color:darken(#b9bbcc, 25%);
        }

      :-moz-placeholder { /* Firefox 18- */
            font-style: italic;
            color:darken(#b9bbcc, 25%);  
        }

        ::-moz-placeholder {  /* Firefox 19+ */
            font-style: italic;
            color:darken(#b9bbcc, 25%);  
        }

      :-ms-input-placeholder {  
            font-style: italic;
            color:darken(#b9bbcc, 25%);  
        }
    


    /**************
    // MODULES page
    ***************/    

    li[class*="module"]{
        position: relative;
        padding-left: 8.5em;
        margin-bottom: 3em;

        p{
            padding-bottom: 0;
            margin: 0;
        }

        &::before{
            content: "";
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            border: 3px solid #b0b3cf;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            width: .7em;
            height: .7em;
            left: 0;
            background:#fff;
            z-index: 2;
        }
        &::after{
            content: "";
           width: .2em;
           height: calc(100% + 3em);
           top: 50%;
           position: absolute;
           background: $c-dark;
           opacity: .4;
           left: .45em;
        }

        &:last-child{
             &::after{
                content: none;
            }
        }



        .title{
            display: block;
            font-family: $t-title;
            color: lighten($c-dark, 25%);

            &::before{
                content: "";
                position: absolute;
                width: 3em;
                height: .2em;
                left: 1em;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
               background: $c-dark;
               opacity: .4;
            }

            &::after{
                content: "";
                position: absolute;
                width: 4em;
                height: 4em;
                background: #d1d3e7 url(../../images/installer/modules.svg) no-repeat center .2em;
                -webkit-background-size: 150%;
                background-size: 150%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                left: 3em;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
            }

            &.ximTOUR::after{
                background-position: center -15em;
                -webkit-background-size: 130%;
                background-size: 130%;
            }

            &.ximNEWS::after{
                background-position: center -10em;
                -webkit-background-size: 130%;
                background-size: 130%;
            }
            &.xlyre::after{
                background-position: center -6.7em;
                -webkit-background-size: 170%;
                background-size: 170%;
            }
        }
    }


.module-installed, .module-already{
    &::before{
        background:$c-dark !important;
        border-color:$c-dark !important;
    } 

    .title{
        color: $c-dark !important;
    }
}

.module-installing{
    &::before{
        border-color:$c-main !important;
        border-top-color: #b0b3cf !important;
        -webkit-animation: rotate .8s linear infinite;
        -o-animation: rotate .8s linear infinite;
        animation: rotate .8s linear infinite;
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
        -o-transform-origin: 50% 0;
        transform-origin: 50% 0;

       
    } 
}

 @-webkit-keyframes rotate {
            from { -webkit-transform: rotate(0) translateY(-50%);
            -moz-transform: rotate(0) translateY(-50%);
            -ms-transform: rotate(0) translateY(-50%);
            -o-transform: rotate(0) translateY(-50%);
            transform: rotate(0) translateY(-50%); }
            to { -webkit-transform: rotate(359deg) translateY(-50%);
            -moz-transform: rotate(359deg) translateY(-50%);
            -ms-transform: rotate(359deg) translateY(-50%);
            -o-transform: rotate(359deg) translateY(-50%);
            transform: rotate(359deg)  translateY(-50%);}
        }
        @-o-keyframes rotate {
            from { -webkit-transform: rotate(0) translateY(-50%);
            -moz-transform: rotate(0) translateY(-50%);
            -ms-transform: rotate(0) translateY(-50%);
            -o-transform: rotate(0) translateY(-50%);
            transform: rotate(0) translateY(-50%); }
            to { -webkit-transform: rotate(359deg) translateY(-50%);
            -moz-transform: rotate(359deg) translateY(-50%);
            -ms-transform: rotate(359deg) translateY(-50%);
            -o-transform: rotate(359deg) translateY(-50%);
            transform: rotate(359deg)  translateY(-50%);}
        }
        @-moz-keyframes rotate {
            from { -webkit-transform: rotate(0) translateY(-50%);
            -moz-transform: rotate(0) translateY(-50%);
            -ms-transform: rotate(0) translateY(-50%);
            -o-transform: rotate(0) translateY(-50%);
            transform: rotate(0) translateY(-50%); }
            to { -webkit-transform: rotate(359deg) translateY(-50%);
            -moz-transform: rotate(359deg) translateY(-50%);
            -ms-transform: rotate(359deg) translateY(-50%);
            -o-transform: rotate(359deg) translateY(-50%);
            transform: rotate(359deg)  translateY(-50%);}
        }
        @keyframes rotate {
            from { -webkit-transform: rotate(0) translateY(-50%);
            -moz-transform: rotate(0) translateY(-50%);
            -ms-transform: rotate(0) translateY(-50%);
            -o-transform: rotate(0) translateY(-50%);
            transform: rotate(0) translateY(-50%); }
            to { -webkit-transform: rotate(359deg) translateY(-50%);
            -moz-transform: rotate(359deg) translateY(-50%);
            -ms-transform: rotate(359deg) translateY(-50%);
            -o-transform: rotate(359deg) translateY(-50%);
            transform: rotate(359deg)  translateY(-50%);}
        }

.module-error{
    &::before{
        border-color:#ec3719 !important;
    } 

    .title{
        color: #ec3719 !important;
    }
}


.module-installed, .module-already{
    .ximTOUR{
        &::after{
            background-color:#57e3aa !important;
        }
    }
    .ximTAGS{
        &::after{
            background-color:#ff684f !important;
        }
    }
    .ximNEWS{
        &::after{
            background-color:#10e2ea !important;
        }
    }
    .xlyre{
        &::after{
            background-color:#e5dc1e !important;
        }
    }
}

    

    /**************
    // ERRORS
    ***************/

.error{
    padding-bottom: 0 !important; 
    position: relative;
    &::before{
        content: "!";
        display: inline-block;
        width: 1.2em;
        text-align: center;
        font-weight: bold;
        border: 3px solid #ccc;
        border-color: lighten(#ff684f, 5%);
        margin-right: .5em;
        color: lighten(#ff684f, 5%);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        line-height: 1.3;
    }  
}

    /**************
    // ICONS
    ***************/

    @font-face {
    font-family: 'social_icons';
    src:url('../../fonts/social_icons.eot');
    src:url('../../fonts/social_icons.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/social_icons.ttf') format('truetype'),
        url('../../fonts/social_icons.woff') format('woff'),
        url('../../fonts/social_icons.svg#social_icons') format('svg');
    font-weight: normal;
    font-style: normal;
    }



    .twitter_btn::before{
        content: "\e600";
    }
    .facebook_btn::before{
        content: "\e601";
    }
    .google_btn::before{
        content: "\e602";
    }

    .installer_step-completed::before{
        content: "\e604";
        
    }

