.main, header#header{
  width: 84%;
  margin: 0 5%;
}
header#header {
  margin-bottom: 0;
}

.row-fluid > [class*="span"]:first-child {
  margin-left: inherit;
}

.container-fluid{
  padding: 0;
}