.editor h1 {
  letter-spacing: -3px;
  font-size: 3.23em;
  font-weight: bold;
  margin: 0;
}

.editor h2 {
  font-size: 1.23em;
  font-weight: bold;
  margin: .5em 0;
  letter-spacing: -1px;
}

.editor h3 {
  font-size: 1em;
  font-weight: bold;
  margin: .4em 0;
}

.editor pre {
  background-color: #eee;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 1em;
}

.editor pre.code {
  margin: 0 1em;
}

.editor .grey {
  font-size: 2.2em;
  padding: .5em 1em;
  line-height: 1.2em;
  margin-top: .5em;
  position: relative;
}

.editor img.logo {
  position: absolute;
  right: -25px;
  bottom: 4px;
}

.editor a:link,.editor  a:visited,.editor  .quasilink {
  color: #df0019;
  cursor: pointer;
  text-decoration: none;
}

.editor a:hover,.editor  .quasilink:hover {
  color: #800004;
}

.editor h1 a:link,.editor  h1 a:visited,.editor  h1 a:hover {
  color: black;
}

.editor ul {
  margin: 0;
  padding-left: 1.2em;
}

.editor a.download {
  color: white;
  background-color: #df0019;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.23em;
  font-weight: bold;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: .5em 0;
  margin-bottom: 1em;
}

.editor a.download:hover {
  background-color: #bb0010;
}

.editor .rel {
  margin-bottom: 0;
}

.editor .rel-note {
  color: #777;
  font-size: .9em;
  margin-top: .1em;
}

.editor .logo-braces {
  color: #df0019;
  position: relative;
  top: -4px;
}

.editor .blk {
  float: left;
}

.editor .left {
  width: 37em;
  padding-right: 6.53em;
  padding-bottom: 1em;
}

.editor .left1 {
  width: 15.24em;
  padding-right: 6.45em;
}

.editor .left2 {
  width: 15.24em;
}

.editor .right {
  width: 20.68em;
}

.editor .leftbig {
  width: 42.44em;
  padding-right: 6.53em;
}

.editor .rightsmall {
  width: 15.24em;
}

.editor .clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.editor .clear { display: inline-block; }
/* start commented backslash hack \*/
.editor  .clear { height: 1%; }
.editor .clear { display: block; }
/* close commented backslash hack */
