.html5editor
{
	height: 100%;
	width: 100%;
}

#iframe-html5editor
{
	width: 98%;
	margin: 1%;
	min-height: 350pt;
	height: 97%;
}

.html5editor .notice
{
	margin: 2%;
}

.html5editor .warning
{
	margin: 2%;
	color: red;
}