/**
 *  \details &copy; 2011  Open Ximdex Evolution SL [http://www.ximdex.org]
 *
 *  Ximdex a Semantic Content Management System (CMS)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published
 *  by the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  See the Affero GNU General Public License for more details.
 *  You should have received a copy of the Affero GNU General Public License
 *  version 3 along with Ximdex (see LICENSE file).
 *
 *  If not, visit http://gnu.org/licenses/agpl-3.0.html.
 *
 *  @author Ximdex DevTeam <dev@ximdex.com>
 *  @version $Revision$
 */


/* menu body */

.menu-body {
	color:		Black;
	margin:		0px;
	padding:	0;
	overflow:	hidden;
	border:		0;
	cursor:		default;
}

.menu-body .outer-border {
	border:		1px solid #666666;
	margin:		0px;
	padding:	0;
	
}

.menu-body .inner-border {
	width:			90%;
	
	border:			1px solid #f9f8f7;
	border-width:	1px 0 1px 0;
	padding:		0 1px 0 1px;
	margin:			0px;
	background:		#f9f8f7 url("background.gif") repeat-y;
}

/* menu body */

/*****************************************************************************/

/* menu items */

.menu-body td {
	font:			Menu;
	color:			Black;
}

.menu-body .hover td {
	background-color:	#b6bdd2;
}

.menu-body .disabled-hover td {
	background-color:	white;
}

.menu-body td.empty-icon-cell {
	padding:		2px;
	border:		0;
}

.menu-body td.empty-icon-cell span {
	width:	16px;
}

.menu-body td.icon-cell {
	padding:	2px;
	border:		0;
}


.menu-body td.icon-cell img {
	width:	16px;
	height:	16px;
	margin:	0px;
	filter:	Alpha(Opacity=70);
	position: relative;
	top: -2px;
}

.menu-body .hover td.icon-cell img {
	position:	relative;
	left:		-1px;
	top:		-1px;
}


.menu-body .disabled-hover td.icon-cell img,
.menu-body .disabled td.icon-cell img {
	display: block;
	filter:		Gray() Alpha(Opacity=40);
}


.menu-body .disabled-hover td.empty-icon-cell,
.menu-body .hover td.empty-icon-cell,
.menu-body .disabled-hover td.icon-cell,
.menu-body .hover td.icon-cell {
	border:			1px solid #0A246A;
	border-right:	0;
	padding:		1px 2px 1px 1px;
}

.menu-body td.label-cell {
	width:		90%;
	padding:	2px 5px 2px 5px;
	border:		0;
}

.menu-body .disabled-hover td.label-cell,
.menu-body .hover td.label-cell,
.menu-body .disabled-hover td.shortcut-cell,
.menu-body .hover td.shortcut-cell {
	padding:		1px 5px 1px 5px;
	border:			1px solid #0A246A;
	border-left:	0;
	border-right:	0;
}

.menu-body td.shortcut-cell {
	padding:	2px 5px 2px 5px;
}

.menu-body td.arrow-cell {
	width:			20px;
	padding:		2px 2px 2px 0px;
	font-family:	Webdings;
}

/* end menu items */

/*****************************************************************************/

/* disabled items */

.menu-body .disabled-hover td.arrow-cell,
.menu-body .hover td.arrow-cell {
	padding:		1px 1px 1px 0px;
	border:			1px solid #0A246A;
	border-left:	0;
}

.menu-body #scroll-up-item td,
.menu-body #scroll-down-item td {
	font-family:	Webdings !important;
	text-align:		center;
	padding:		10px;
}

.menu-body .disabled td {
	color:				#cccccc;
}

.menu-body .disabled-hover td {
	background-color:	white;
	color:				#cccccc;
}

/* end disabled items */

/*****************************************************************************/

/* separator */

.menu-body .separator td {
	font-size:	0.001mm;
	padding:	1px 0px 1px 27px;
}

.menu-body .separator-line {
	overflow:		hidden;
	border-top:		1px solid #dbd8d1;
	height:			1px;
}

/* end separator */

/*****************************************************************************/

/* Scroll buttons */

.menu-body #scroll-up-item,
.menu-body #scroll-down-item {
	width:		90%;
}

.menu-body #scroll-up-item td,
.menu-body #scroll-down-item td {
	font-family:	Webdings;
	text-align:		center;
	padding:		1px 5px 1px 5px;
}

.menu-body #scroll-up-item .disabled-hover td,
.menu-body #scroll-up-item .hover td,
.menu-body #scroll-down-item .disabled-hover td,
.menu-body #scroll-down-item .hover td {
	border:		1px solid #0A246A;
	padding:	0px 4px 0px 4px;
}

/* End scroll buttons */

/*****************************************************************************/

/* radio and check box items */

.menu-body .checked {
	padding:	0px;
}

.menu-body .checked.hover {
	padding:	0px;
}

.menu-body .checked .check-box,
.menu-body .checked .radio-button {
	display:		block;
	font-family:	Webdings;
	overflow:		hidden;
	color:			MenuText;
	text-align:		center;
	vertical-align: baseline;
	background-color:	#b6bdd2;
	border:				1px solid #0A246A;
}

.menu-body .check-box {
	width:			19px;
	height:			19px;
	font-size:		133%;
	padding-bottom:	5px;
	padding-left:	1px;
}

.menu-body .radio-button {
	width:			19px;
	height:			19px;
	font-size:		50%;
	padding:		5px;
}

/* end radio and check box items */

/*****************************************************************************/

/* Menu Bar */

.menu-bar {
	width: 50%;
	background:		ButtonFace;
	cursor:			default;
	padding:		0px;
	border-bottom:	0px groove;
}

.menu-bar .menu-button {
	background:	ButtonFace;
	color:		ButtonText;
	font:		Menu;
	padding:	2px 7px 2px 7px;
	border:		0;
	margin:		0px;
	display:	block;
	white-space:	nowrap;
	cursor:		default;
}

.menu-bar .menu-button.active {
	background:		#dbd8d1;
	padding:		1px 6px 1px 6px;
	border:			1px solid #666666;
	border-bottom:	0;
}

.menu-bar .menu-button.hover {
	background:		#b6bdd2;
	padding:		1px 6px 1px 6px;
	border:			1px solid #0A246A;
}

/* End Menu Bar */