/**
 *  \details &copy; 2011  Open Ximdex Evolution SL [http://www.ximdex.org]
 *
 *  Ximdex a Semantic Content Management System (CMS)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published
 *  by the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  See the Affero GNU General Public License for more details.
 *  You should have received a copy of the Affero GNU General Public License
 *  version 3 along with Ximdex (see LICENSE file).
 *
 *  If not, visit http://gnu.org/licenses/agpl-3.0.html.
 *
 *  @author Ximdex DevTeam <dev@ximdex.com>
 *  @version $Revision$
 */
.programed_publication {
  display: inline-block;
  vertical-align: top;
  width: calc(33% - 1em); }

.xim_calendar_container {
  display: inline-block;
  vertical-align: top;
  width: calc(66% - 1em); }

.start_publication, .end_publication {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 1em); }

.date_interval {
  margin-top: .5em;
  padding-bottom: .5em; }

/**************
// PROGRAM PUBLICATIONS
***************/
.programed_publication {
  color: #666666;
  padding: 0;
  font-size: .9em;
  float: right;
  counter-reset: publications; }
  .programed_publication h2 {
    font-family: $t_text;
    border-bottom: 1px solid #d8d8d8;
    text-transform: uppercase;
    padding: .8em .5em .6em;
    font-weight: bold;
    font-size: 1.5rem; }

.publication {
  text-transform: uppercase;
  font-weight: bold;
  padding: 1em 1em 1em 3.5em;
  border-bottom: 1px solid #d8d8d8;
  counter-increment: publications;
  position: relative; }
  .publication::before {
    content: counter(publications);
    position: absolute;
    height: 100%;
    width: 1.8em;
    text-align: center;
    line-height: 2.1;
    background: #acafbb;
    left: 0;
    top: 0;
    color: #fff;
    font-size: 1.4em; }
  .publication:last-child {
    border-bottom: none; }

.start_publication .publication_date, .end_publication .publication_date {
  display: block;
  font-weight: bold;
  color: #4c4c4c;
  padding: .5em 0 .2em;
  font-size: 1.08em; }
.start_publication .publication_time, .end_publication .publication_time {
  font-weight: normal; }

.end_publication {
  padding-left: 1.5em; }

.xim_calendar_container {
  float: left; }

.clock::before {
  font-size: 1.4em;
  padding-right: .5em;
  line-height: .9; }

.notifications {
  margin-top: 3em; }

.not_programed {
  padding: .2em 1em .5em 2.1em;
  font-size: 1.2em;
  line-height: 1.3; }

.comments {
  width: 100%; }
