/**
 *  \details &copy; 2011  Open Ximdex Evolution SL [http://www.ximdex.org]
 *
 *  Ximdex a Semantic Content Management System (CMS)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published
 *  by the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  See the Affero GNU General Public License for more details.
 *  You should have received a copy of the Affero GNU General Public License
 *  version 3 along with Ximdex (see LICENSE file).
 *
 *  If not, visit http://gnu.org/licenses/agpl-3.0.html.
 *
 *  @author Ximdex DevTeam <dev@ximdex.com>
 *  @version $Revision$
 */


/*#############################################################
Name: The Hobbit
Date: 2006-10-11
Description: Submission for OWD template contest "Favourite Book".
Author: Viktor Persson
URL: http://templates.arcsin.se

Feel free to use and modify but please provide credits.
#############################################################*/

/* standard elements */
* {
	margin: 0;
	padding: 0;
}

a {color: #36C;}

a:hover {color: #06F;}

body {
	background: #4E5D3C url(../images/bg.jpg);
	color: #444;
	font: normal 62.5% "Lucida Sans Unicode",sans-serif;
	margin: 0;
}

p,blockquote,ul {margin-bottom: 1.2em;}

h1 {font: normal 1.6em serif;}

h2 {
	font: bold 1em Verdana,serif;
	margin: 3px 0 1px;
}

ul {margin-left: 1.8em;}

blockquote {
	background: url(../images/quote.gif) no-repeat;
	color: #555;
	font: normal 1.4em serif;
	padding-left: 22px;
}

blockquote p {padding: 6px;}

/* misc */
.clearer {clear: both;}

.left {float: left;}

.right {float: right;}

img.left {margin: 0 18px 18px 0;}

.divider {
	background: url(../images/divider.gif) no-repeat;
	height: 20px;
	margin: 24px 0;
}

/* structure */
.container {
	background: url(../images/bgcontainer.jpg) repeat-y center top;
	margin: 0 auto;
	width: 736px;
}

.gfx {
	background: url(../images/gfx.jpg) no-repeat;
	float: left;
	height: 140px;
	margin-top: 12px;
	width: 52px;
}

.top {
	background: url(../images/bgcontent.gif) no-repeat 0 -4%;
	float: left;
	text-align: center;
	width: 632px;
}

.header {
	background: #56644A url(../images/header.jpg) no-repeat;
	color: #FFC;
	font-size: 1.4em;
	height: 232px;
	padding-right: 270px;
}

.header h1 {
	font: normal 3.2em serif,sans-serif;
	padding: 62px 0 34px 0;
}

.pattern {
	background: #334127 url(../images/pattern.gif) repeat-x;
	clear: both;
	height: 12px;
}

/* navigation */
.navigation {margin: 0 24px;}

.navigation a {
	color: #6C7151;
	font: normal 1.5em serif;
	line-height: 50px;
	margin: 0 16px;
	text-decoration: none;
}
.navigation a:hover,.navigation #selected {
	color: #2C3111;
}

/* content */
.content {
	background: url(../images/bgcontent.gif) no-repeat;
	clear: both;
	font-size: 1.2em;
	margin: 0 52px;
	padding: 0 38px 12px;
}
.content .spacer {
	height: 42px;
}

/* content item */
.item {clear: both;}

.item img {border: 1px dashed #8A6;}

.item .title {
	color: #445044;
	font: normal 2em serif;
}

.item .title:first-letter {
	display: block;
	float: left;
	font-size: 2.4em;
}

.item .metadata {
	color: #666;
	font-size: 0.9em;
	float: left;
	padding: 0 0 6px 4px;
}

.item .body {
	clear: both;
}

/* footer */
.footer {
	background: url(../images/bgfooter.gif) no-repeat;
	color: #666;
	font-size: 1.1em;
	line-height: 41px; 
	margin: 0 auto;
	text-align: center;
	width: 632px;
}

.footer a {
	color: #666;
	text-decoration: none;
}

.footer a:hover {
	color: #333;
	text-decoration: underline;
}
