<!DOCTYPE html>
<html lang="es">
<head>
    <title> {% block title %}Welcome to Ximdex CMS Installer{% endblock %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/fonts.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}{% endblock %}
<body>
<div class="aside">
    <h1><a href="http://www.ximdex.com">ximdex</a></h1>
    <ul class="installer">
        {% block mainmenu  %}
            {% for step  in steps  %}
                <li class="installer_step{% if step.key  == currentStep  %} installer_step-current{% endif %}{% if step.key < currentStep   %} installer_step-completed{% endif %}">
                    <span class="installer_step-launcher icon">{{ step.label  }}</span>
                </li>
            {% endfor %}

        {% endblock %}
    </ul>
    <ul class="social">
        <li class="icon_btn">
            <a target="_blank" href="https://twitter.com/ximdex" class="twitter_btn icon" title="Cuenta Twitter de Ximdex"></a>
        </li>
        <li class="icon_btn">
            <a target="_blank" href="https://plus.google.com/+Ximdex/about" class="icon google_btn" title="Cuenta Google+ de Ximdex"></a>
        </li>
        <li class="icon_btn">
            <a target="_blank" href="https://www.facebook.com/Ximdex" class="icon facebook_btn" title="Cuenta Facebook de Twitter"></a>
        </li>
    </ul>
</div>
<div class="content">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>
